## Lab - pandas indexing

In [2]:
# import modules

import pandas as pd
import numpy as np

In [3]:
# create a dataframe

data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'age': [42, 52, 36, 24, 73], 
        'preTestScore': [4, 24, 31, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70]}
df = pd.DataFrame(data, columns = 
                  ['name', 'age', 'preTestScore', 'postTestScore'])
df

    name  age  preTestScore  postTestScore
0  Jason   42             4             25
1  Molly   52            24             94
2   Tina   36            31             57
3   Jake   24             2             62
4    Amy   73             3             70

Requirements
- select the preTestScore column
- find the standard deviation of preTestScore 
- find the mean of preTestScore
- select the rows in preTestScore with scores greater than the mean
- create a new column that shows the score change from preTestScore to postTestScore

Bonus
- Wrap the above steps in a function
- Try some slicing of your own: eg how to select of only Tina and Jake's data only the preTestScore and age columns? Come up with some slices of your own invention to satisfy yourself that you are comfortable with these operations
- Review the 'Indexing and Selecting Data' page of the pandas documentation for further insights as well as gotchas

In [5]:
preCol = df["preTestScore"]
preCol

0     4
1    24
2    31
3     2
4     3
Name: preTestScore, dtype: int64

In [6]:
preCol.std()

13.663820841916802

In [8]:
avg = preCol.mean()
avg

12.8

In [9]:

df[preCol > avg]

    name  age  preTestScore  postTestScore
1  Molly   52            24             94
2   Tina   36            31             57

In [12]:
df["scoreChange"] = df["postTestScore"] - df["preTestScore"]

df

    name  age  preTestScore  postTestScore  scoreChange
0  Jason   42             4             25           21
1  Molly   52            24             94           70
2   Tina   36            31             57           26
3   Jake   24             2             62           60
4    Amy   73             3             70           67

In [15]:
df.drop(columns="scoreChange", inplace=True)

In [16]:
df

    name  age  preTestScore  postTestScore
0  Jason   42             4             25
1  Molly   52            24             94
2   Tina   36            31             57
3   Jake   24             2             62
4    Amy   73             3             70