## Lists

In [179]:
marks = [23, 15, 25, 13]
marks

[23, 15, 25, 13]

In [180]:
marks[0]

23

In [181]:
marks[1]

15

In [182]:
marks[-1]

13

In [183]:
marks[-2]

25

In [184]:
marks.append(17)
marks

[23, 15, 25, 13, 17]

In [185]:
marks.insert(0, 20)
marks

[20, 23, 15, 25, 13, 17]

In [186]:
marks.extend([15, 22, 9])
marks

[20, 23, 15, 25, 13, 17, 15, 22, 9]

In [187]:
# marks.remove(15)
# marks

In [188]:
# marks.pop(3)
# marks

In [189]:
marks.append(15)
marks

[20, 23, 15, 25, 13, 17, 15, 22, 9, 15]

In [190]:
# for i in range(3):
#     marks.remove(15)

# marks

In [191]:
15 in marks

True

In [192]:
33 in marks

False

In [193]:
# while 15 in marks:
#     marks.remove(15)
    
# marks

[20, 23, 25, 13, 17, 22, 9]

In [194]:
marks.index(13)

3

In [195]:
len(marks)

7

In [196]:
max(marks)

25

In [197]:
sum(marks) / len(marks)

18.428571428571427

In [198]:
marks.sort()
marks

[9, 13, 17, 20, 22, 23, 25]

In [199]:
marks[0:3]

[9, 13, 17]

In [200]:
marks[:3]

[9, 13, 17]

In [201]:
marks[-3:]

[22, 23, 25]

---
## Tuples
> Immutable

In [202]:
days = ("Sun", "Mon", "Tue", "Wed", "Thu", "Fri")
days

('Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri')

In [203]:
days[0]

'Sun'

In [204]:
days[:3]

('Sun', 'Mon', 'Tue')

In [205]:
# days[0] = "Sunday"
# days

In [206]:
list(days)

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri']

---
## Dictionaries

In [207]:
# countries = ["Saudi Arabia", "Arab Emirates", "Egypt"]
countries = {
    "sa": "Saudi Arabia",
    "ae": "Arab Emirates",
    "eg": "Egypt"
}
countries

{'sa': 'Saudi Arabia', 'ae': 'Arab Emirates', 'eg': 'Egypt'}

In [208]:
countries["ae"]

'Arab Emirates'

In [209]:
countries["pl"] = "Palstine"
countries

{'sa': 'Saudi Arabia', 'ae': 'Arab Emirates', 'eg': 'Egypt', 'pl': 'Palstine'}

In [210]:
countries.update({"ku": "Kuwait"})
countries

{'sa': 'Saudi Arabia',
 'ae': 'Arab Emirates',
 'eg': 'Egypt',
 'pl': 'Palstine',
 'ku': 'Kuwait'}

In [211]:
countries["eg"] = "Republic of Egypt"
countries

{'sa': 'Saudi Arabia',
 'ae': 'Arab Emirates',
 'eg': 'Republic of Egypt',
 'pl': 'Palstine',
 'ku': 'Kuwait'}

In [212]:
# countries.pop("ae")
# countries

In [213]:
# del countries["eg"]
# countries

In [214]:
# countries.popitem()
# countries

In [215]:
list(countries.values())

['Saudi Arabia', 'Arab Emirates', 'Republic of Egypt', 'Palstine', 'Kuwait']

In [216]:
list(countries.keys())

['sa', 'ae', 'eg', 'pl', 'ku']

In [217]:
list(countries.items())

[('sa', 'Saudi Arabia'),
 ('ae', 'Arab Emirates'),
 ('eg', 'Republic of Egypt'),
 ('pl', 'Palstine'),
 ('ku', 'Kuwait')]

In [218]:
students = {
    "Ahmed": [23, 15, 22],
    "Ali": [19, 28, 25],
    "Wael": [15, 30, 29]
}

students

{'Ahmed': [23, 15, 22], 'Ali': [19, 28, 25], 'Wael': [15, 30, 29]}

In [219]:
students["Ali"]

[19, 28, 25]

In [220]:
students["Ali"][1]

28

---
## Loops

In [221]:
for i in range(5):
    print(i)

0
1
2
3
4

In [222]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [223]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [224]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [225]:
list(range(5))

[0, 1, 2, 3, 4]

In [226]:
salaries = [15000, 5000, 7000, 13000]
for sal in salaries:
    print(sal)

15000
5000
7000
13000

In [227]:
for sal in salaries:
    print(sal + 500)

15500
5500
7500
13500

In [228]:
for k in countries:
    print(k)

sa
ae
eg
pl
ku

In [229]:
for k in countries.values():
    print(k)

Saudi Arabia
Arab Emirates
Republic of Egypt
Palstine
Kuwait

In [230]:
for k, v in countries.items():
    print(k, "=>", v)

sa => Saudi Arabia
ae => Arab Emirates
eg => Republic of Egypt
pl => Palstine
ku => Kuwait

In [231]:
for k in countries.items():
    print(k)

('sa', 'Saudi Arabia')
('ae', 'Arab Emirates')
('eg', 'Republic of Egypt')
('pl', 'Palstine')
('ku', 'Kuwait')

In [232]:
msg = "Welocme to Python"
for ch in msg:
    print(ch)

W
e
l
o
c
m
e

t
o

P
y
t
h
o
n

In [233]:
x = 1
while x <= 10:
    print(x, end="\t")
    x += 1

1	2	3	4	5	6	7	8	9	10

In [234]:
salaries = []
data = input("Enter a salary (or stop): ")
while data != "stop":
    data = eval(data)
    salaries.append(data)
    data = input("Enter a salary (of stop): ")

salaries

Enter a salary (or stop):  7000
Enter a salary (of stop):  15000
Enter a salary (of stop):  12230
Enter a salary (of stop):  6000
Enter a salary (of stop):  2000
Enter a salary (of stop):  stop

[7000, 15000, 12230, 6000, 2000]

---
## Comprehenshion

In [235]:
salaries

[7000, 15000, 12230, 6000, 2000]

In [236]:
# new_salaries = []
# for sal in salaries:
#     new_salaries.append(sal + 500)

# new_salaries

In [237]:
salaries = [s+500 for s in salaries]
salaries

[7500, 15500, 12730, 6500, 2500]

In [238]:
temp1 = [s+500 for s in salaries if s < 10000]
temp1

[8000, 7000, 3000]

In [239]:
salaries

[7500, 15500, 12730, 6500, 2500]

In [240]:
temp2 = [s+500 if s < 10000 else s  for s in salaries]
temp2

[8000, 15500, 12730, 7000, 3000]

In [241]:
nums = [1, 2, 3]
nums2 = [n*2 for n in nums]
nums2

[2, 4, 6]

In [242]:
#0599888921

In [244]:
marks

[9, 13, 17, 20, 22, 23, 25]