# Data Cleaning and Preparation

In [1]:
import numpy as np
import pandas as pd

## Data Transformation (continue)
So far in this lesson we’ve been concerned with rearranging data. Filtering, cleaning,
and other transformations are another class of important operations.

### Detecting and Filtering Outliers
Filtering or transforming outliers is largely a matter of applying array operations.
Consider a DataFrame with some normally distributed data

In [2]:
data = pd.DataFrame(np.random.randn(1000, 4))
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.042274    -0.022910    -0.025251     0.007242
std       0.994744     1.024871     0.997112     1.012461
min      -2.939387    -3.088045    -3.062283    -3.907133
25%      -0.649212    -0.745150    -0.741213    -0.686198
50%       0.036329    -0.042806     0.029896     0.056763
75%       0.699839     0.663233     0.688906     0.712620
max       4.080834     3.966528     2.776019     3.082795

In [6]:
# find values in one of the columns exceeding 3 in absolute value
col = data[2]
col[col.abs() > 3]

563   -3.062283
Name: 2, dtype: float64

In [16]:
# select all rows having a value exceeding 3 or –3
data[(data.abs() > 3).any(axis=1)]

            0         1         2         3
144 -0.828628 -0.176204  1.115857 -3.907133
173  0.098028  0.221873  0.194458  3.082795
254  3.059631  0.576005 -0.267142  0.417830
260  0.245427  0.622099 -1.093244 -3.109115
440  3.514313 -0.312701  0.283756  0.712688
449 -1.140343  3.044842  1.801686  0.117102
454  3.167542 -0.042584 -0.838369 -0.468969
555  4.080834  0.816016 -1.360081  1.214587
563  0.215800  0.759195 -3.062283 -1.776089
699 -0.181280  3.966528 -0.065523  0.887487
749 -0.707335 -3.021661  0.274754  1.213139
837 -0.273609  1.257326 -0.728200 -3.057051
916 -0.782655 -3.088045  0.166339 -1.043405

In [17]:
# set outliers to 3 or -3 depending on its sign
data[np.abs(data) > 3] = np.sign(data) * 3
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.040452    -0.023812    -0.025189     0.008232
std       0.988563     1.021097     0.996924     1.008599
min      -2.939387    -3.000000    -3.000000    -3.000000
25%      -0.649212    -0.745150    -0.741213    -0.686198
50%       0.036329    -0.042806     0.029896     0.056763
75%       0.699839     0.663233     0.688906     0.712620
max       3.000000     3.000000     2.776019     3.000000

### Computing Indicator/Dummy Variables
Another type of transformation for statistical modeling or machine learning applica‐
tions is converting a categorical variable into a “dummy” or “indicator” matrix.

column in a DataFrame has k distinct values, you would derive a matrix or Data‐
Frame with k columns containing all 1s and 0s.

pandas has a `get_dummies` function for doing this

In [18]:
df = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
                   'data1': range(6)})
df

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

In [20]:
# create dummy variables for column 'key'
pd.get_dummies(df['key'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In [21]:
# add a prefix to the columns in the indicator Data‐Frame
dummies = pd.get_dummies(df['key'], prefix='key')
dummies

   key_a  key_b  key_c
0      0      1      0
1      0      1      0
2      1      0      0
3      0      0      1
4      1      0      0
5      0      1      0

In [22]:
# join the dummies to the Data-Frame
df_with_dummy = df[['data1']].join(dummies)
df_with_dummy

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

In [26]:
# read the dataset 'movies.dat' and display the first 10 rows of it

mnames = ['movie_id', 'title', 'genres']
movies = pd.read_csv('movies.dat', sep='::', engine="python",
                       header=None, names=mnames)
movies[:10]

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller
6         7                      Sabrina (1995)                Comedy|Romance
7         8                 Tom and Huck (1995)          Adventure|Children's
8         9                 Sudden Death (1995)                        Action
9        10                    GoldenEye (1995)     Action|Adventure|Thriller

Adding dummy variables for each genre requires a little bit of wrangling.

In [27]:
# make a list 'genres' contains all distict genres
all_genres = []
for x in movies.genres:
    all_genres.extend(x.split('|'))
genres = pd.unique(all_genres)
genres

array(['Animation', "Children's", 'Comedy', 'Adventure', 'Fantasy',
       'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror',
       'Sci-Fi', 'Documentary', 'War', 'Musical', 'Mystery', 'Film-Noir',
       'Western'], dtype=object)

In [34]:
# create a DataFrame 'dummies' of size (#movies, #genres) and fill it with zeros
zero_matrix = np.zeros((len(movies), len(genres)), dtype=int)
dummies = pd.DataFrame(zero_matrix, columns=genres)
dummies

,Animation,Children's,Comedy,Adventure,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Sci-Fi,Documentary,War,Musical,Mystery,Film-Noir,Western
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3879,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3880,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3881,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3882,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [30]:
# get the genres from the first row of 'movies' DataFrame, then get their indices in the 'dummies' DataFrame
# hint: use 'get_indexer' method
gen = movies.genres[0]
gen.split('|')
dummies.columns.get_indexer(gen.split('|'))

array([0, 1, 2], dtype=int64)

In [35]:
# for each value of 'genre' column in 'movies' DataFrame, set the corresponding columns in dummies to 1 
for i, gen in enumerate(movies.genres):
    indices = dummies.columns.get_indexer(gen.split('|'))
    dummies.iloc[i, indices] = 1
    
dummies

,Animation,Children's,Comedy,Adventure,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Sci-Fi,Documentary,War,Musical,Mystery,Film-Noir,Western
0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3879,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
3880,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
3881,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
3882,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0

In [37]:
# join the DataFrames 'movies' and 'dummies', then display the first row 
movies_windic = movies.join(dummies.add_prefix('Genre_'))
movies_windic.iloc[0]

movie_id                                       1
title                           Toy Story (1995)
genres               Animation|Children's|Comedy
Genre_Animation                                1
Genre_Children's                               1
Genre_Comedy                                   1
Genre_Adventure                                0
Genre_Fantasy                                  0
Genre_Romance                                  0
Genre_Drama                                    0
Genre_Action                                   0
Genre_Crime                                    0
Genre_Thriller                                 0
Genre_Horror                                   0
Genre_Sci-Fi                                   0
Genre_Documentary                              0
Genre_War                                      0
Genre_Musical                                  0
Genre_Mystery                                  0
Genre_Film-Noir                                0
Genre_Western                                  0
Name: 0, dtype: object

## String Manipulation
Python has long been a popular raw data manipulation language in part due to its
ease of use for string and text processing. Most text operations are made simple with
the string object’s **built-in methods**. 

For more complex pattern matching and text manipulations, **regular expressions** may be needed. 

**pandas** adds to the mix by enabling you to apply string and regular expressions concisely on whole arrays of data,
additionally handling the annoyance of missing data.

### String Object Methods

In [38]:
# convert the string to a list using the ',' as separator
val = 'a,b,  guido'
val.split(',')

['a', 'b', '  guido']

In [39]:
# convert the string to a list using the ',' as separator and remove the extra spaces
pieces = [x.strip() for x in val.split(',')]
pieces

['a', 'b', 'guido']

In [40]:
# concatenate the parts back with separator '::'
first, second, third = pieces
first + '::' + second + '::' + third

'a::b::guido'

In [ ]:
# concatenate the parts back with separator '::'
'::'.join(pieces)

**check**: try the `in` operator and str methods `index`, `find`, `count` and `replace`

![](assets/built-in-str-methods.png)

### Regular Expressions
Regular expressions provide a flexible way to search or match (often more complex)
string patterns in text. A single expression, commonly called a regex, is a string
formed according to the regular expression language.

The `re` module functions fall into three categories: **pattern matching**, **substitution**,
and **splitting**.

In [44]:
import re
text = "foo    bar\t baz  \tqux"

suppose we wanted to split a string with a variable number of whitespace characters
(tabs, spaces, and newlines). The regex describing one or more whitespace characters
is \s+:

In [47]:
# split the string depending on the whitespaces

re.split('\s+', text)

['foo', 'bar', 'baz', 'qux']

In [43]:
# find all the string depending on the whitespaces
re.findall("\s+", text)

['    ', '\t ', '  \t']

**Note:** Creating a regex object with `re.compile` is highly recommended if you intend to
apply the same expression to many strings; doing so will save CPU cycles

In [48]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'

# re.IGNORECASE makes the regex case-insensitive
regex = re.compile(pattern, flags=re.IGNORECASE)

In [49]:
# get a list of all emails in the text
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

Relatedly, `sub` will return a new string with occurrences of the pattern replaced by the
a new string:

In [52]:
print(regex.sub('REDACTED', text))

Dave REDACTED
Steve REDACTED
Rob REDACTED
Ryan REDACTED

Suppose you wanted to find email addresses and simultaneously segment each
address into its three components: *username*, *domain name*, and *domain suffix*.

In [53]:
pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'
regex = re.compile(pattern, flags=re.IGNORECASE)

In [54]:
# find all email in the text
regex.findall(text)

[('dave', 'google', 'com'),
 ('steve', 'gmail', 'com'),
 ('rob', 'gmail', 'com'),
 ('ryan', 'yahoo', 'com')]

In [56]:
# prefix each segment of the email with a suitable label
print(regex.sub(r'Username: \1, Domain: \2, Suffix: \3', text))

Dave Username: dave, Domain: google, Suffix: com
Steve Username: steve, Domain: gmail, Suffix: com
Rob Username: rob, Domain: gmail, Suffix: com
Ryan Username: ryan, Domain: yahoo, Suffix: com

![](assets/re-methods.png)

### Vectorized String Functions in pandas

In [57]:
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com',
        'Rob': 'rob@gmail.com', 'Wes': np.nan}
data = pd.Series(data)
data

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

Series has array-oriented methods for string operations that skip NA values. These are accessed through Series’s **str attribute**

In [58]:
# check if the email is gmail
data.str.contains('gmail')

Dave     False
Steve     True
Rob       True
Wes        NaN
dtype: object

Regular expressions can be used, too, along with any re options like IGNORECASE

In [59]:
# using the pattern declared earlier, find all parts of each email
pattern
data.str.findall(pattern, flags=re.IGNORECASE)

Dave     [(dave, google, com)]
Steve    [(steve, gmail, com)]
Rob        [(rob, gmail, com)]
Wes                        NaN
dtype: object

In [60]:
# use the match method to check if the field matches an email or not
matches = data.str.match(pattern, flags=re.IGNORECASE)
matches

Dave     True
Steve    True
Rob      True
Wes       NaN
dtype: object

![](assets/series-str-methods.png)

# Data Aggregation and Group Operations

## GroupBy Mechanics

the term split-apply-combine is used for describing group operations. 

- In the first stage of the process, data contained in a pandas object, whether a Series, Data‐Frame, or otherwise, is **split** into groups based on one or more keys that you provide.
- Once this is done, a function is **applied** to each group, producing a new value. 
- Finally, the results of all those function applications are **combined** into a result object. 

The form of the resulting object will usually depend on what’s being done to the data.

![](assets/group-aggregation.png)

In [62]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randint(0, 10, 5),
                   'data2' : np.random.randint(0, 10, 5)})
df

  key1 key2  data1  data2
0    a  one      5      7
1    a  two      1      5
2    b  one      4      8
3    b  two      4      4
4    a  one      5      5

In [67]:
# group data of column 'data1' by 'key1' then print the groups
grouped = df['data1'].groupby(df['key1'])
grouped.groups

{'a': [0, 1, 4], 'b': [2, 3]}

In [68]:
# calculate the mean in each group
grouped.mean()

key1
a    3.666667
b    4.000000
Name: data1, dtype: float64

In [69]:
# group data of column 'data1' by 'key1' and 'key2' then print the groups
means = df['data1'].groupby([df['key1'], df['key2']])
means.groups

{('a', 'one'): [0, 4], ('a', 'two'): [1], ('b', 'one'): [2], ('b', 'two'): [3]}

In [72]:
# calculate the mean in each group
means = means.mean()
means

key1  key2
a     one     5
      two     1
b     one     4
      two     4
Name: data1, dtype: int32

In [73]:
# unstack the result Series
means.unstack()

key2  one  two
key1
a       5    1
b       4    4

In [74]:
# try some selection on the result DataFrame
means.loc['a', 'one']

5

### Iterating Over Groups
The GroupBy object supports iteration, generating a sequence of **2-tuples** containing
the **group name** along with the **chunk of data**.

In [86]:
# group data of DataFrame 'data' by 'key1' then print each group name and data

for name, group in df.groupby('key1'):
    print(name)
    print(group)
    print("-" * 50)

a
  key1 key2  data1  data2
0    a  one      5      7
1    a  two      1      5
4    a  one      5      5
--------------------------------------------------
b
  key1 key2  data1  data2
2    b  one      4      8
3    b  two      4      4
--------------------------------------------------

In [87]:
# group data of DataFrame 'data' by 'key1' and 'key2' then print each group name and data

for (k1, k2), group in df.groupby(['key1', 'key2']):
    print((k1, k2))
    print(group)

('a', 'one')
  key1 key2  data1  data2
0    a  one      5      7
4    a  one      5      5
('a', 'two')
  key1 key2  data1  data2
1    a  two      1      5
('b', 'one')
  key1 key2  data1  data2
2    b  one      4      8
('b', 'two')
  key1 key2  data1  data2
3    b  two      4      4

In [89]:
# group data of DataFrame 'data' by 'key1' then convert it to a dictionary of DataFrames

pieces = dict(list(df.groupby('key1')))
pieces['b']

  key1 key2  data1  data2
2    b  one      4      8
3    b  two      4      4

In [92]:
# group the columns by its datatypes, then print the groups
df.dtypes
grouped = df.groupby(df.dtypes, axis=1)
grouped.groups

{int32: ['data1', 'data2'], object: ['key1', 'key2']}

In [93]:
# loop through the groups and print it
for dtype, group in grouped:
    print(dtype)
    print(group)

int32
   data1  data2
0      5      7
1      1      5
2      4      8
3      4      4
4      5      5
object
  key1 key2
0    a  one
1    a  two
2    b  one
3    b  two
4    a  one

### Selecting a Column or Subset of Columns
Indexing a GroupBy object created from a DataFrame with a column name or array
of column names has the effect of column subsetting for aggregation. This means
that:
```python
df.groupby('key1')['data1']
df.groupby('key1')[['data2']]
```
are syntactic sugar for:
```python
df['data1'].groupby(df['key1'])
df[['data2']].groupby(df['key1'])
```

In [97]:
# group data of DataFrame 'data' by 'key1' then calculate the mean of column 'data2'

df.groupby(['key1', 'key2'])[['data2']].mean()

           data2
key1 key2
a    one       6
     two       5
b    one       8
     two       4

In [100]:
# How to get result as DataFrame GroupBy or Series GroupBy?
s_grouped = df.groupby(['key1', 'key2'])['data2']
s_grouped
s_grouped.mean()

key1  key2
a     one     6
      two     5
b     one     8
      two     4
Name: data2, dtype: int32

### Grouping with Dicts and Series

In [103]:
people = pd.DataFrame(np.random.randint(0, 10, (5,5)),
                      columns=['a', 'b', 'c', 'd', 'e'],
                      index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])
people.iloc[2:3, [1, 2]] = np.nan # Add a few NA values
people

        a    b    c  d  e
Joe     0  7.0  2.0  9  5
Steve   8  8.0  9.0  3  6
Wes     7  NaN  NaN  8  1
Jim     0  0.0  5.0  3  5
Travis  7  0.0  0.0  3  8

In [104]:
mapping = {'Joe': 'red', 'Steve': 'red', 'Wes': 'blue',
           'Jim': 'blue', 'Travis': 'red', 'Elon' : 'orange'}

In [106]:
# group and sum the scores of teams red and blue
by_row = people.groupby(mapping)
by_row.sum()

       a     b     c   d   e
blue   7   0.0   5.0  11   6
red   15  15.0  11.0  15  19

In [108]:
# convert the dict to a Series, then group and count the scores of teams red and blue

map_series = pd.Series(mapping)
map_series
people.groupby(map_series).count()

      a  b  c  d  e
blue  2  1  1  2  2
red   3  3  3  3  3

### Grouping with Functions

In [109]:
people.groupby(len).sum()

   a    b    c   d   e
3  7  7.0  7.0  20  11
5  8  8.0  9.0   3   6
6  7  0.0  0.0   3   8

## independent Practice:
- read the dataset `tips.csv`
- create a new column 'tip_pct', which is tip / total_bill
- replace the short-day name with the full-day name and convert it to upper-case
- calculate the average tip percent for smokers and non-smokers
- calculate the max and average tip percent for each time
- calculate the average tip percent for each day and time
- create dummy variables for the day and time columns