# Lists, Tuples & Dicts

In [106]:
marks = [23, 25, 17, 13]

In [107]:
marks[0]

23

In [108]:
marks[3]

13

In [109]:
marks[-1]

13

In [110]:
marks.append(19)
marks

[23, 25, 17, 13, 19]

In [111]:
marks.insert(0, 21)
marks

[21, 23, 25, 17, 13, 19]

In [112]:
marks.remove(17)
marks

[21, 23, 25, 13, 19]

In [113]:
marks.pop(3)
marks

[21, 23, 25, 19]

In [114]:
marks.extend([18, 25, 25])
marks

[21, 23, 25, 19, 18, 25, 25]

In [115]:
marks[-2] = 15
marks

[21, 23, 25, 19, 18, 15, 25]

In [116]:
del marks[-2]
marks

[21, 23, 25, 19, 18, 25]

In [117]:
marks.sort()
marks

[18, 19, 21, 23, 25, 25]

In [118]:
marks.sort(reverse=True)
marks

[25, 25, 23, 21, 19, 18]

In [119]:
names = ["Wael", "Zaid", "Obaid", "Ahmed", "Ali"]
names.sort()
names

['Ahmed', 'Ali', 'Obaid', 'Wael', 'Zaid']

In [120]:
names.sort(key=len, reverse=True)
names

['Ahmed', 'Obaid', 'Wael', 'Zaid', 'Ali']

In [121]:
marks[0:3]

[25, 25, 23]

In [122]:
marks[:3]

[25, 25, 23]

In [123]:
marks[-3:]

[21, 19, 18]

## Tuple

In [124]:
marks = (23, 15, 18) # immutable
marks

(23, 15, 18)

In [125]:
marks[0]

23

In [126]:
marks[-1]

18

In [127]:
# marks[0] = 25
# marks

In [128]:
# marks.append(21)
# marks

## Dict

In [129]:
countries = {
    "sa": "Saudi Arabia",
    "ae": "Arab Emirates",
    "eg": "Egypt"
}
countries

{'sa': 'Saudi Arabia', 'ae': 'Arab Emirates', 'eg': 'Egypt'}

In [130]:
# countries["ae"]
countries.get("ae")

'Arab Emirates'

In [131]:
# countries["eg"] = "Republic of Egypt"
countries.update({"eg": "Republic of Egypt"})
countries

{'sa': 'Saudi Arabia', 'ae': 'Arab Emirates', 'eg': 'Republic of Egypt'}

In [132]:
# countries["pl"] = "Palstine"
countries.update({"pl": "Palstine"})
countries

{'sa': 'Saudi Arabia',
 'ae': 'Arab Emirates',
 'eg': 'Republic of Egypt',
 'pl': 'Palstine'}

In [133]:
# del countries["ae"]
countries.pop("ae")
countries

{'sa': 'Saudi Arabia', 'eg': 'Republic of Egypt', 'pl': 'Palstine'}

In [134]:
len(countries)

3

In [135]:
"ae" in countries

False

In [136]:
list(countries.keys())

['sa', 'eg', 'pl']

In [137]:
list(countries.values())

['Saudi Arabia', 'Republic of Egypt', 'Palstine']

In [138]:
temp = list(countries.items())
temp

[('sa', 'Saudi Arabia'), ('eg', 'Republic of Egypt'), ('pl', 'Palstine')]

In [139]:
temp[0][1]

'Saudi Arabia'

In [140]:
temp[2][1]

'Palstine'

In [141]:
std_table = {
    "name": ["Ahmed", "Ali", "Wael", "Yasser"],
    "Q1": [9, 7, 8, 5],
    "Q2": [5, 8, 7, 7]
}

std_table

{'name': ['Ahmed', 'Ali', 'Wael', 'Yasser'],
 'Q1': [9, 7, 8, 5],
 'Q2': [5, 8, 7, 7]}

In [142]:
std_table["name"][0]

'Ahmed'

In [143]:
std_table["Q2"][3]

7

In [144]:
emps = [
    {"name": "Ahmed", "salary": 7000, "job": "Sales"},
    {"name": "Wael", "salary": 5000, "job": "Marketing"},
    {"name": "Ali", "salary": 15000, "job": "Data Analyst"},
    {"name": "Yousef", "salary": 10000, "job": "IT"},
    {"name": "Mohammed", "salary": 8000, "job": "Admin"},
]

emps

[{'name': 'Ahmed', 'salary': 7000, 'job': 'Sales'},
 {'name': 'Wael', 'salary': 5000, 'job': 'Marketing'},
 {'name': 'Ali', 'salary': 15000, 'job': 'Data Analyst'},
 {'name': 'Yousef', 'salary': 10000, 'job': 'IT'},
 {'name': 'Mohammed', 'salary': 8000, 'job': 'Admin'}]

In [145]:
emps[1]["salary"]

5000

In [146]:
def condition(e):
    return e["salary"] >= 8000

list(filter(condition, emps))

[{'name': 'Ali', 'salary': 15000, 'job': 'Data Analyst'},
 {'name': 'Yousef', 'salary': 10000, 'job': 'IT'},
 {'name': 'Mohammed', 'salary': 8000, 'job': 'Admin'}]

In [147]:
list(filter(lambda e: e["salary"] >= 8000, emps))

[{'name': 'Ali', 'salary': 15000, 'job': 'Data Analyst'},
 {'name': 'Yousef', 'salary': 10000, 'job': 'IT'},
 {'name': 'Mohammed', 'salary': 8000, 'job': 'Admin'}]

In [148]:
emps.sort(key=lambda e: e["salary"], reverse=True)
emps

[{'name': 'Ali', 'salary': 15000, 'job': 'Data Analyst'},
 {'name': 'Yousef', 'salary': 10000, 'job': 'IT'},
 {'name': 'Mohammed', 'salary': 8000, 'job': 'Admin'},
 {'name': 'Ahmed', 'salary': 7000, 'job': 'Sales'},
 {'name': 'Wael', 'salary': 5000, 'job': 'Marketing'}]

# Loops

In [149]:

for i in range(5):
    print(i,"- Welcome to Python")

0 - Welcome to Python
1 - Welcome to Python
2 - Welcome to Python
3 - Welcome to Python
4 - Welcome to Python

In [150]:

for i in range(1, 6):
    print(i,"- Welcome to Python")

1 - Welcome to Python
2 - Welcome to Python
3 - Welcome to Python
4 - Welcome to Python
5 - Welcome to Python

In [151]:

for i in range(1, 11, 2):
    print(i,"- Welcome to Python")

1 - Welcome to Python
3 - Welcome to Python
5 - Welcome to Python
7 - Welcome to Python
9 - Welcome to Python

In [152]:
names

['Ahmed', 'Obaid', 'Wael', 'Zaid', 'Ali']

In [153]:
for name in names:
    print(name)

Ahmed
Obaid
Wael
Zaid
Ali

In [154]:
text = "Welcome to Python"
for c in text:
    print(c)

W
e
l
c
o
m
e

t
o

P
y
t
h
o
n

In [155]:
countries

{'sa': 'Saudi Arabia', 'eg': 'Republic of Egypt', 'pl': 'Palstine'}

In [156]:
for k in countries:
    print(k)

sa
eg
pl

In [157]:
for k in countries.values():
    print(k)

Saudi Arabia
Republic of Egypt
Palstine

In [158]:
for k, v in countries.items():
    print(k, "=>", v)

sa => Saudi Arabia
eg => Republic of Egypt
pl => Palstine

In [159]:
for k in countries.items():
    print(k)

('sa', 'Saudi Arabia')
('eg', 'Republic of Egypt')
('pl', 'Palstine')

In [160]:
marks

(23, 15, 18)

In [161]:
percentages = []
for m in marks:
    percentages.append(m / 25 * 100)
    
percentages

[92.0, 60.0, 72.0]

In [162]:
x = 1
while x <= 10:
    print(x)
    x += 1
    
print("-- End --")

1
2
3
4
5
6
7
8
9
10
-- End --

In [163]:
from random import randint

x = randint(0, 10)
while x != 0:
    print(x)
    x = randint(0, 10)

# Comprehension

In [164]:
names

['Ahmed', 'Obaid', 'Wael', 'Zaid', 'Ali']

In [165]:
new_names = []
for n in names:
    new_names.append(n.upper())

new_names

['AHMED', 'OBAID', 'WAEL', 'ZAID', 'ALI']

In [166]:
new_names = [n.upper() for n in names]
new_names

['AHMED', 'OBAID', 'WAEL', 'ZAID', 'ALI']

In [167]:
marks = [25, 23, 16, 21, 18]
PCTs = [m/25*100 for m in marks]
PCTs

[100.0, 92.0, 64.0, 84.0, 72.0]

In [168]:
name_len = [len(n) for n in names]
name_len

[5, 5, 4, 4, 3]

In [169]:
names

['Ahmed', 'Obaid', 'Wael', 'Zaid', 'Ali']

In [170]:
my_dict = {}
for n in names:
    my_dict[n] = len(n)
    
my_dict

{'Ahmed': 5, 'Obaid': 5, 'Wael': 4, 'Zaid': 4, 'Ali': 3}

In [171]:
my_dict = {n: len(n) for n in names}
my_dict

{'Ahmed': 5, 'Obaid': 5, 'Wael': 4, 'Zaid': 4, 'Ali': 3}

In [172]:
names = ['Ahmed', 'OBAID', 'Wael', 'ZAID', 'Ali']
my_dict = {n: n.isupper() for n in names}
my_dict

{'Ahmed': False, 'OBAID': True, 'Wael': False, 'ZAID': True, 'Ali': False}

In [173]:
emails = [
    "omarincs@gmail.com",
    "ahmed@gmail.com",
    "wael@gmail.com",
    "yasser@hotmail.com"
]
emails

['omarincs@gmail.com',
 'ahmed@gmail.com',
 'wael@gmail.com',
 'yasser@hotmail.com']

In [174]:
answer = {e.index("@"): e for e in emails}
answer

{8: 'omarincs@gmail.com',
 5: 'ahmed@gmail.com',
 4: 'wael@gmail.com',
 6: 'yasser@hotmail.com'}

In [175]:
answer = {e[:e.index("@")]: e for e in emails}
answer

{'omarincs': 'omarincs@gmail.com',
 'ahmed': 'ahmed@gmail.com',
 'wael': 'wael@gmail.com',
 'yasser': 'yasser@hotmail.com'}

## if in comprehension

In [176]:
marks

[25, 23, 16, 21, 18]

In [177]:
marks.extend([12, 19, 10])

In [178]:
marks

[25, 23, 16, 21, 18, 12, 19, 10]

In [180]:
answer = [m for m in marks if m >= 15]
answer

[25, 23, 16, 21, 18, 19]

In [181]:
answer = ["Pass" if m >= 15 else "Fail" for m in marks ]
answer

['Pass', 'Pass', 'Pass', 'Pass', 'Pass', 'Fail', 'Pass', 'Fail']

In [182]:
emails

['omarincs@gmail.com',
 'ahmed@gmail.com',
 'wael@gmail.com',
 'yasser@hotmail.com']

In [183]:
["Allowed" if "gmail" in e else "Not Allowed" for e in emails]

['Allowed', 'Allowed', 'Allowed', 'Not Allowed']

In [184]:
[e for e in emails if "gmail" in e]

['omarincs@gmail.com', 'ahmed@gmail.com', 'wael@gmail.com']

In [187]:
{e: "Allowed" if "gmail" in e else "Not Allowed" for e in emails}

{'omarincs@gmail.com': 'Allowed',
 'ahmed@gmail.com': 'Allowed',
 'wael@gmail.com': 'Allowed',
 'yasser@hotmail.com': 'Not Allowed'}

In [188]:
{e[:e.index("@")]: "Allowed" if "gmail" in e else "Not Allowed" for e in emails}

{'omarincs': 'Allowed',
 'ahmed': 'Allowed',
 'wael': 'Allowed',
 'yasser': 'Not Allowed'}

## `zip()` and `enumerate()` functions

In [189]:
names

['Ahmed', 'OBAID', 'Wael', 'ZAID', 'Ali']

In [192]:
marks = marks[:5]
marks

[25, 23, 16, 21, 18]

In [193]:
{n: m for n, m in zip(names, marks)}

{'Ahmed': 25, 'OBAID': 23, 'Wael': 16, 'ZAID': 21, 'Ali': 18}

In [194]:
{i: n for i, n in enumerate(names)}

{0: 'Ahmed', 1: 'OBAID', 2: 'Wael', 3: 'ZAID', 4: 'Ali'}