# Data Analysis Course
## using Python

In [26]:
print("Welcome to Python")

Welcome to Python

[Our Website](https://www.abadnet.com.sa)

![Logo](https://cdn.dribbble.com/users/10882/screenshots/15172621/media/cd2246d5d0f54f9a4316bd4d276764b2.png?compress=1&resize=400x300)

### Topics:
   - Python Revision
   - Data **Cleaning**
   - Data *Visualization*
   - Models
   
> This is a quote
> 
> more text

## Lists

In [27]:
marks = [23, 18, 12, 25]

In [28]:
marks

[23, 18, 12, 25]

In [29]:
marks[0]

23

In [30]:
marks[-1]

25

In [31]:
len(marks)

4

In [32]:
marks.append(17)
marks

[23, 18, 12, 25, 17]

In [33]:
marks.insert(0, 20)
marks

[20, 23, 18, 12, 25, 17]

In [34]:
marks_g2 = [18, 25, 23, 14]
marks.extend(marks_g2)
marks

[20, 23, 18, 12, 25, 17, 18, 25, 23, 14]

In [35]:
marks += marks_g2
marks

[20, 23, 18, 12, 25, 17, 18, 25, 23, 14, 18, 25, 23, 14]

In [36]:
marks.remove(14)
marks

[20, 23, 18, 12, 25, 17, 18, 25, 23, 18, 25, 23, 14]

In [37]:
marks.pop(5)
marks

[20, 23, 18, 12, 25, 18, 25, 23, 18, 25, 23, 14]

In [39]:
marks.sort(reverse=True)
marks

[25, 25, 25, 23, 23, 23, 20, 18, 18, 18, 14, 12]

In [42]:
marks = list(set(marks))
marks

[18, 20, 23, 25, 12, 14]

In [43]:
# marks[0]

In [45]:
marks.sort(reverse=True)
marks

[25, 23, 20, 18, 14, 12]

In [46]:
marks[0:3]

[25, 23, 20]

In [47]:
marks[:3]

[25, 23, 20]

In [ ]:
marks[-3:]

In [48]:
del marks[-1]

In [49]:
marks

[25, 23, 20, 18, 14]

In [51]:
13 in marks

False

## Tuple:

In [52]:
days = ("Sunday", "Monday", "Tuesday", "Wednesday")
days

('Sunday', 'Monday', 'Tuesday', 'Wednesday')

In [53]:
days[0]

'Sunday'

In [54]:
days[-1]

'Wednesday'

In [55]:
len(days)

4

In [57]:
# days[0] = "Sun"  -- Will not work because tuple is immutable

In [60]:
list(days)

['Sunday', 'Monday', 'Tuesday', 'Wednesday']

## Dict:

In [79]:
countries = {
    "sa": "Saudi Arabia",
    "ae": "Arab Emirates",
    "eg": "Egypt"
}

In [83]:
# countries["ae"]
countries.get("ae", "Not Found")

'Arab Emirates'

In [84]:
countries

{'sa': 'Saudi Arabia', 'ae': 'Arab Emirates', 'eg': 'Egypt'}

In [69]:
list(countries.values())

['Saudi Arabia', 'Arab Emirates', 'Egypt']

In [70]:
list(countries.keys())

['sa', 'ae', 'eg']

In [72]:
items = list(countries.items())
items

[('sa', 'Saudi Arabia'), ('ae', 'Arab Emirates'), ('eg', 'Egypt')]

In [73]:
items[0][1]

'Saudi Arabia'

In [85]:
# countries["eg"] = "Republic of Egypt"
countries.update({"eg": "Republic of Egypt"})
countries

{'sa': 'Saudi Arabia', 'ae': 'Arab Emirates', 'eg': 'Republic of Egypt'}

In [87]:
# countries["pl"] = "Palstine"
countries.update({"pl": "Palstine"})
countries

{'sa': 'Saudi Arabia',
 'ae': 'Arab Emirates',
 'eg': 'Republic of Egypt',
 'pl': 'Palstine'}

In [88]:
# del countries["ae"]
countries.pop("ae")
countries

{'sa': 'Saudi Arabia', 'eg': 'Republic of Egypt', 'pl': 'Palstine'}

In [77]:
len(countries)

3

In [78]:
"ae" in countries

False

In [89]:
list(countries)

['sa', 'eg', 'pl']

In [90]:
list("Welcome")

['W', 'e', 'l', 'c', 'o', 'm', 'e']

## Loops:

for `new_var` in `iterable`:

    >
    >
    
--
--

In [98]:
for m in marks:
    print(m + 2)
    print("-" * 20)

print("*" * 20)

27
--------------------
25
--------------------
22
--------------------
20
--------------------
16
--------------------
********************

In [99]:
message = "Hello"
for c in message:
    print(c)

H
e
l
l
o

In [105]:
mobile = "0599888921"
for d in mobile:
    if not d.isdigit():
        print("Not a valid mobile")
        break

In [106]:
mobile.isdigit()

True

In [107]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [108]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [109]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [111]:
for i in range(10):
    print(i * "-")
#     print("Hello world")

-
--
---
----
-----
------
-------
--------
---------

while `bool-expr`:
    
    --
    --
    
 --

In [119]:
x = 1
while x <= 10:
    print(x)
    x += 1

1
2
3
4
5
6
7
8
9
10

In [113]:
for y in range(1, 11):
    print(y)

1
2
3
4
5
6
7
8
9
10

In [114]:
countries

{'sa': 'Saudi Arabia', 'eg': 'Republic of Egypt', 'pl': 'Palstine'}

In [117]:
for k, v in countries.items():
    print(k, "=>", v)

sa => Saudi Arabia
eg => Republic of Egypt
pl => Palstine

## List & Dict Comprehension

In [121]:
for i in range(len(marks)):
    marks[i] += 2
    
marks

[27, 25, 22, 20, 16]

In [122]:
new_marks = []
for m in marks:
    new_marks.append(m + 2)
    
new_marks

[29, 27, 24, 22, 18]

In [123]:
marks

[27, 25, 22, 20, 16]

In [124]:
new_marks = [m + 5 for m in marks]
new_marks

[32, 30, 27, 25, 21]

In [125]:

teas = ['earl grey', 'darjeeling', 'english breakfast', 'lapsang souchong', 
        'oolong', 'kombucha', 'green tea']

teas = [t.upper() for t in teas]
teas

['EARL GREY',
 'DARJEELING',
 'ENGLISH BREAKFAST',
 'LAPSANG SOUCHONG',
 'OOLONG',
 'KOMBUCHA',
 'GREEN TEA']

In [128]:
text = "Hello"
text.count("e")

1

In [130]:
lengths = [len(t) for t in teas]
lengths

[9, 10, 17, 16, 6, 8, 9]

In [131]:
countries = ["Saudi Arabia", "Arab Emirates", "Egypt"]
countries_d = {c[0]: c for c in countries}
countries_d

{'S': 'Saudi Arabia', 'A': 'Arab Emirates', 'E': 'Egypt'}

In [132]:
lengths = {t: len(t) for t in teas}
lengths

{'EARL GREY': 9,
 'DARJEELING': 10,
 'ENGLISH BREAKFAST': 17,
 'LAPSANG SOUCHONG': 16,
 'OOLONG': 6,
 'KOMBUCHA': 8,
 'GREEN TEA': 9}

In [133]:
lengths = {t: [len(t), t.count(" ") + 1] for t in teas}
lengths

{'EARL GREY': [9, 2],
 'DARJEELING': [10, 1],
 'ENGLISH BREAKFAST': [17, 2],
 'LAPSANG SOUCHONG': [16, 2],
 'OOLONG': [6, 1],
 'KOMBUCHA': [8, 1],
 'GREEN TEA': [9, 2]}

In [134]:
lengths = {t: (len(t), t.count(" ") + 1) for t in teas}
lengths

{'EARL GREY': (9, 2),
 'DARJEELING': (10, 1),
 'ENGLISH BREAKFAST': (17, 2),
 'LAPSANG SOUCHONG': (16, 2),
 'OOLONG': (6, 1),
 'KOMBUCHA': (8, 1),
 'GREEN TEA': (9, 2)}

In [135]:
print(lengths["EARL GREY"][1])

2

In [136]:
print(lengths["EARL GREY"])

(9, 2)