## Lists

In [2]:
marks = [23, 15, 25, 13]
marks

[23, 15, 25, 13]

In [3]:
marks[0]

23

In [4]:
marks[1]

15

In [5]:
marks[-1]

13

In [6]:
marks[-2]

25

In [7]:
marks.append(17)
marks

[23, 15, 25, 13, 17]

In [8]:
marks.insert(0, 20)
marks

[20, 23, 15, 25, 13, 17]

In [9]:
marks.extend([15, 22, 9])
marks

[20, 23, 15, 25, 13, 17, 15, 22, 9]

In [10]:
# marks.remove(15)
# marks

In [11]:
# marks.pop(3)
# marks

In [12]:
marks.append(15)
marks

[20, 23, 15, 25, 13, 17, 15, 22, 9, 15]

In [13]:
# for i in range(3):
#     marks.remove(15)

# marks

In [14]:
15 in marks

True

In [15]:
33 in marks

False

In [16]:
# while 15 in marks:
#     marks.remove(15)
    
# marks

In [17]:
marks.index(13)

4

In [18]:
len(marks)

10

In [19]:
max(marks)

25

In [20]:
sum(marks) / len(marks)

17.4

In [21]:
marks.sort()
marks

[9, 13, 15, 15, 15, 17, 20, 22, 23, 25]

In [22]:
marks[0:3]

[9, 13, 15]

In [23]:
marks[:3]

[9, 13, 15]

In [24]:
marks[-3:]

[22, 23, 25]

---
## Tuples
> Immutable

In [25]:
days = ("Sun", "Mon", "Tue", "Wed", "Thu", "Fri")
days

('Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri')

In [26]:
days[0]

'Sun'

In [27]:
days[:3]

('Sun', 'Mon', 'Tue')

In [28]:
# days[0] = "Sunday"
# days

In [29]:
list(days)

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri']

---
## Dictionaries

In [30]:
# countries = ["Saudi Arabia", "Arab Emirates", "Egypt"]
countries = {
    "sa": "Saudi Arabia",
    "ae": "Arab Emirates",
    "eg": "Egypt"
}
countries

{'sa': 'Saudi Arabia', 'ae': 'Arab Emirates', 'eg': 'Egypt'}

In [31]:
countries["ae"]

'Arab Emirates'

In [32]:
countries["pl"] = "Palstine"
countries

{'sa': 'Saudi Arabia', 'ae': 'Arab Emirates', 'eg': 'Egypt', 'pl': 'Palstine'}

In [33]:
countries.update({"ku": "Kuwait"})
countries

{'sa': 'Saudi Arabia',
 'ae': 'Arab Emirates',
 'eg': 'Egypt',
 'pl': 'Palstine',
 'ku': 'Kuwait'}

In [34]:
countries["eg"] = "Republic of Egypt"
countries

{'sa': 'Saudi Arabia',
 'ae': 'Arab Emirates',
 'eg': 'Republic of Egypt',
 'pl': 'Palstine',
 'ku': 'Kuwait'}

In [35]:
# countries.pop("ae")
# countries

In [36]:
# del countries["eg"]
# countries

In [37]:
# countries.popitem()
# countries

In [38]:
list(countries.values())

['Saudi Arabia', 'Arab Emirates', 'Republic of Egypt', 'Palstine', 'Kuwait']

In [39]:
list(countries.keys())

['sa', 'ae', 'eg', 'pl', 'ku']

In [40]:
list(countries.items())

[('sa', 'Saudi Arabia'),
 ('ae', 'Arab Emirates'),
 ('eg', 'Republic of Egypt'),
 ('pl', 'Palstine'),
 ('ku', 'Kuwait')]

In [41]:
students = {
    "Ahmed": [23, 15, 22],
    "Ali": [19, 28, 25],
    "Wael": [15, 30, 29]
}

students

{'Ahmed': [23, 15, 22], 'Ali': [19, 28, 25], 'Wael': [15, 30, 29]}

In [42]:
students["Ali"]

[19, 28, 25]

In [43]:
students["Ali"][1]

28

---
## Loops

In [44]:
for i in range(5):
    print(i)

0
1
2
3
4

In [45]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [46]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
list(range(5))

[0, 1, 2, 3, 4]

In [49]:
salaries = [15000, 5000, 7000, 13000]
for sal in salaries:
    print(sal)

15000
5000
7000
13000

In [50]:
for sal in salaries:
    print(sal + 500)

15500
5500
7500
13500

In [51]:
for k in countries:
    print(k)

sa
ae
eg
pl
ku

In [52]:
for k in countries.values():
    print(k)

Saudi Arabia
Arab Emirates
Republic of Egypt
Palstine
Kuwait

In [53]:
for k, v in countries.items():
    print(k, "=>", v)

sa => Saudi Arabia
ae => Arab Emirates
eg => Republic of Egypt
pl => Palstine
ku => Kuwait

In [54]:
for k in countries.items():
    print(k)

('sa', 'Saudi Arabia')
('ae', 'Arab Emirates')
('eg', 'Republic of Egypt')
('pl', 'Palstine')
('ku', 'Kuwait')

In [55]:
msg = "Welocme to Python"
for ch in msg:
    print(ch)

W
e
l
o
c
m
e

t
o

P
y
t
h
o
n

In [56]:
x = 1
while x <= 10:
    print(x, end="\t")
    x += 1

1	2	3	4	5	6	7	8	9	10

In [57]:
salaries = []
data = input("Enter a salary (or stop): ")
while data != "stop":
    data = eval(data)
    salaries.append(data)
    data = input("Enter a salary (of stop): ")

salaries

Enter a salary (or stop):  stop

[]

---
## Comprehenshion

In [58]:
salaries

[]

In [59]:
# new_salaries = []
# for sal in salaries:
#     new_salaries.append(sal + 500)

# new_salaries

In [60]:
salaries = [s+500 for s in salaries]
salaries

[]

In [61]:
temp1 = [s+500 for s in salaries if s < 10000]
temp1

[]

In [62]:
salaries

[]

In [63]:
temp2 = [s+500 if s < 10000 else s  for s in salaries]
temp2

[]

In [64]:
nums = [1, 2, 3]
nums2 = [n*2 for n in nums]
nums2

[2, 4, 6]

In [65]:
#0599888921

In [66]:
list(set(marks))

[9, 13, 15, 17, 20, 22, 23, 25]

In [67]:
lstA = [13,15,-4,8,23,25,17,44,-7,-10,0,1,5,0,2,8,45]
strings = ['SK1908','RK1905','SB1001','GM1406','EL3005']
cities_A = ['Tokyo','Shanghai','Jakarta','Delhi','Seoul']
populations_A = [37.8,34.9,31.7,26.5,25.5]

In [68]:
postcode = []
for code in strings:
    postcode.append(code[:2])

postcode

['SK', 'RK', 'SB', 'GM', 'EL']

In [69]:
postcodes = [code[:2] for code in strings]
postcodes

['SK', 'RK', 'SB', 'GM', 'EL']

In [71]:
[n for n in lstA if n >= 0]

[13, 15, 8, 23, 25, 17, 44, 0, 1, 5, 0, 2, 8, 45]

In [72]:
[n*10 for n in lstA if n >= 0]

[130, 150, 80, 230, 250, 170, 440, 0, 10, 50, 0, 20, 80, 450]

In [75]:
[n*10 if n >= 0 else abs(n)  for n in lstA ]

[130, 150, 4, 80, 230, 250, 170, 440, 7, 10, 0, 10, 50, 0, 20, 80, 450]

In [76]:
# {13: "Positive", 15: "Positive", -4: "Negative", }

{n: "Positive" if n >= 0 else "Negative"  for n in lstA}

{13: 'Positive',
 15: 'Positive',
 -4: 'Negative',
 8: 'Positive',
 23: 'Positive',
 25: 'Positive',
 17: 'Positive',
 44: 'Positive',
 -7: 'Negative',
 -10: 'Negative',
 0: 'Positive',
 1: 'Positive',
 5: 'Positive',
 2: 'Positive',
 45: 'Positive'}

In [77]:
{c: len(c) for c in cities_A}

{'Tokyo': 5, 'Shanghai': 8, 'Jakarta': 7, 'Delhi': 5, 'Seoul': 5}

In [78]:
{
    c: p
    for c, p in zip(cities_A, populations_A)
}

{'Tokyo': 37.8,
 'Shanghai': 34.9,
 'Jakarta': 31.7,
 'Delhi': 26.5,
 'Seoul': 25.5}

In [79]:
{
    i+1 : c
    for i, c in enumerate(cities_A)
}

{1: 'Tokyo', 2: 'Shanghai', 3: 'Jakarta', 4: 'Delhi', 5: 'Seoul'}

In [80]:

{
    c: (i+1, p)
    for i, (c, p) in enumerate(zip(cities_A, populations_A))
}

{'Tokyo': (1, 37.8),
 'Shanghai': (2, 34.9),
 'Jakarta': (3, 31.7),
 'Delhi': (4, 26.5),
 'Seoul': (5, 25.5)}