## Lists

In [245]:
marks = [23, 15, 25, 13]
marks

[23, 15, 25, 13]

In [246]:
marks[0]

23

In [247]:
marks[1]

15

In [248]:
marks[-1]

13

In [249]:
marks[-2]

25

In [250]:
marks.append(17)
marks

[23, 15, 25, 13, 17]

In [251]:
marks.insert(0, 20)
marks

[20, 23, 15, 25, 13, 17]

In [252]:
marks.extend([15, 22, 9])
marks

[20, 23, 15, 25, 13, 17, 15, 22, 9]

In [253]:
# marks.remove(15)
# marks

In [254]:
# marks.pop(3)
# marks

In [255]:
marks.append(15)
marks

[20, 23, 15, 25, 13, 17, 15, 22, 9, 15]

In [256]:
# for i in range(3):
#     marks.remove(15)

# marks

In [257]:
15 in marks

True

In [258]:
33 in marks

False

In [259]:
# while 15 in marks:
#     marks.remove(15)
    
# marks

In [260]:
marks.index(13)

4

In [261]:
len(marks)

10

In [262]:
max(marks)

25

In [263]:
sum(marks) / len(marks)

17.4

In [264]:
marks.sort()
marks

[9, 13, 15, 15, 15, 17, 20, 22, 23, 25]

In [265]:
marks[0:3]

[9, 13, 15]

In [266]:
marks[:3]

[9, 13, 15]

In [267]:
marks[-3:]

[22, 23, 25]

---
## Tuples
> Immutable

In [268]:
days = ("Sun", "Mon", "Tue", "Wed", "Thu", "Fri")
days

('Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri')

In [269]:
days[0]

'Sun'

In [270]:
days[:3]

('Sun', 'Mon', 'Tue')

In [271]:
# days[0] = "Sunday"
# days

In [272]:
list(days)

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri']

---
## Dictionaries

In [273]:
# countries = ["Saudi Arabia", "Arab Emirates", "Egypt"]
countries = {
    "sa": "Saudi Arabia",
    "ae": "Arab Emirates",
    "eg": "Egypt"
}
countries

{'sa': 'Saudi Arabia', 'ae': 'Arab Emirates', 'eg': 'Egypt'}

In [274]:
countries["ae"]

'Arab Emirates'

In [275]:
countries["pl"] = "Palstine"
countries

{'sa': 'Saudi Arabia', 'ae': 'Arab Emirates', 'eg': 'Egypt', 'pl': 'Palstine'}

In [276]:
countries.update({"ku": "Kuwait"})
countries

{'sa': 'Saudi Arabia',
 'ae': 'Arab Emirates',
 'eg': 'Egypt',
 'pl': 'Palstine',
 'ku': 'Kuwait'}

In [277]:
countries["eg"] = "Republic of Egypt"
countries

{'sa': 'Saudi Arabia',
 'ae': 'Arab Emirates',
 'eg': 'Republic of Egypt',
 'pl': 'Palstine',
 'ku': 'Kuwait'}

In [278]:
# countries.pop("ae")
# countries

In [279]:
# del countries["eg"]
# countries

In [280]:
# countries.popitem()
# countries

In [281]:
list(countries.values())

['Saudi Arabia', 'Arab Emirates', 'Republic of Egypt', 'Palstine', 'Kuwait']

In [282]:
list(countries.keys())

['sa', 'ae', 'eg', 'pl', 'ku']

In [283]:
list(countries.items())

[('sa', 'Saudi Arabia'),
 ('ae', 'Arab Emirates'),
 ('eg', 'Republic of Egypt'),
 ('pl', 'Palstine'),
 ('ku', 'Kuwait')]

In [284]:
students = {
    "Ahmed": [23, 15, 22],
    "Ali": [19, 28, 25],
    "Wael": [15, 30, 29]
}

students

{'Ahmed': [23, 15, 22], 'Ali': [19, 28, 25], 'Wael': [15, 30, 29]}

In [285]:
students["Ali"]

[19, 28, 25]

In [286]:
students["Ali"][1]

28

---
## Loops

In [287]:
for i in range(5):
    print(i)

0
1
2
3
4

In [288]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [289]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [290]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [291]:
list(range(5))

[0, 1, 2, 3, 4]

In [292]:
salaries = [15000, 5000, 7000, 13000]
for sal in salaries:
    print(sal)

15000
5000
7000
13000

In [293]:
for sal in salaries:
    print(sal + 500)

15500
5500
7500
13500

In [294]:
for k in countries:
    print(k)

sa
ae
eg
pl
ku

In [295]:
for k in countries.values():
    print(k)

Saudi Arabia
Arab Emirates
Republic of Egypt
Palstine
Kuwait

In [296]:
for k, v in countries.items():
    print(k, "=>", v)

sa => Saudi Arabia
ae => Arab Emirates
eg => Republic of Egypt
pl => Palstine
ku => Kuwait

In [297]:
for k in countries.items():
    print(k)

('sa', 'Saudi Arabia')
('ae', 'Arab Emirates')
('eg', 'Republic of Egypt')
('pl', 'Palstine')
('ku', 'Kuwait')

In [298]:
msg = "Welocme to Python"
for ch in msg:
    print(ch)

W
e
l
o
c
m
e

t
o

P
y
t
h
o
n

In [299]:
x = 1
while x <= 10:
    print(x, end="\t")
    x += 1

1	2	3	4	5	6	7	8	9	10

In [300]:
salaries = []
data = input("Enter a salary (or stop): ")
while data != "stop":
    data = eval(data)
    salaries.append(data)
    data = input("Enter a salary (of stop): ")

salaries

Enter a salary (or stop):  stop

[]

---
## Comprehenshion

In [301]:
salaries

[]

In [302]:
# new_salaries = []
# for sal in salaries:
#     new_salaries.append(sal + 500)

# new_salaries

In [303]:
salaries = [s+500 for s in salaries]
salaries

[]

In [304]:
temp1 = [s+500 for s in salaries if s < 10000]
temp1

[]

In [305]:
salaries

[]

In [306]:
temp2 = [s+500 if s < 10000 else s  for s in salaries]
temp2

[]

In [307]:
nums = [1, 2, 3]
nums2 = [n*2 for n in nums]
nums2

[2, 4, 6]

In [308]:
#0599888921

In [310]:
list(set(marks))

[9, 13, 15, 17, 20, 22, 23, 25]