### Independent practice: python lists

Complete the questions using the following list:

In [1]:
mix = [12, 12.2, 'flower', 'a', (1, 2, 3)]

##### 1. add the string 'animal' to mix using .append()

In [2]:
mix.append("animal")
mix

[12, 12.2, 'flower', 'a', (1, 2, 3), 'animal']

##### 2. join the list [1, 2] to mix using .extend()

In [3]:
mix.extend([1, 2])
mix

[12, 12.2, 'flower', 'a', (1, 2, 3), 'animal', 1, 2]

##### 3. add your name at the 2nd position of the list using .insert(index, your_name)

In [4]:
mix.insert(1, "Omar")
mix

[12, 'Omar', 12.2, 'flower', 'a', (1, 2, 3), 'animal', 1, 2]

##### 4. remove 'flower' from the list using .remove()

In [5]:
mix.remove("flower")
mix

[12, 'Omar', 12.2, 'a', (1, 2, 3), 'animal', 1, 2]

##### 5. sort the list with .sort()

In [6]:
mix.sort()
mix

TypeError: '<' not supported between instances of 'str' and 'int'

##### 6. count the number of times 12 appears in the list using .count()

In [7]:
mix.count(12)

1

##### 7. find the index integer of your name in the list using .index()

In [8]:
mix.index("Omar")

1

##### 8. remove the last element of the list and assign it to a variable with .pop()

In [9]:
x = mix.pop()

In [10]:
x

2

In [11]:
mix

[12, 'Omar', 12.2, 'a', (1, 2, 3), 'animal', 1]

##### 9. reverse the order of the elements in the list with .reverse()

In [12]:
mix.reverse()
mix

[1, 'animal', (1, 2, 3), 'a', 12.2, 'Omar', 12]