# Data Cleaning and Preparation

In [106]:
import numpy as np
import pandas as pd

## Data Transformation (continue)
So far in this lesson we’ve been concerned with rearranging data. Filtering, cleaning,
and other transformations are another class of important operations.

### Detecting and Filtering Outliers
Filtering or transforming outliers is largely a matter of applying array operations.
Consider a DataFrame with some normally distributed data

In [107]:
data = pd.DataFrame(np.random.randn(1000, 4))
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.005787     0.007485     0.029569    -0.035760
std       0.994635     1.007886     0.994092     0.969305
min      -3.329087    -2.977935    -3.201587    -2.958919
25%      -0.636850    -0.691312    -0.603495    -0.750547
50%       0.024673    -0.019937     0.048526    -0.040203
75%       0.647885     0.681272     0.676790     0.629381
max       3.812454     3.381737     3.467533     3.323671

In [1]:
# find values in one of the columns exceeding 3 in absolute value

In [2]:
# select all rows having a value exceeding 3 or –3

In [3]:
# set outliers to 3 or -3 depending on its sign

### Computing Indicator/Dummy Variables
Another type of transformation for statistical modeling or machine learning applica‐
tions is converting a categorical variable into a “dummy” or “indicator” matrix.

column in a DataFrame has k distinct values, you would derive a matrix or Data‐
Frame with k columns containing all 1s and 0s.

pandas has a `get_dummies` function for doing this

In [112]:
df = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
                   'data1': range(6)})
df

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

In [4]:
# create dummy variables for column 'key'

In [5]:
# create dummy variables for column 'key'  then add the columns to a variable

In [6]:
# join the dummies to the Data-Frame

In [7]:
# read the dataset 'movies.dat' and display the first 10 rows of it

Adding dummy variables for each genre requires a little bit of wrangling.

In [8]:
# make a list 'genres' contains all distict genres

In [9]:
# print the dataset dimentions

In [10]:
# create a DataFrame 'dummies' of size (#movies, #genres) and fill it with zeros

In [11]:
# get the genres from the first row of 'movies' DataFrame, then get their indices in the 'dummies' DataFrame
# hint: use 'get_indexer' method

In [12]:
# for each value of 'genre' column in 'movies' DataFrame, set the corresponding columns in dummies to 1

In [13]:
# join the DataFrames 'movies' and 'dummies', then display the first row