# Data Cleaning and Preparation

In [21]:
import numpy as np
import pandas as pd

## Data Transformation (continue)
So far in this lesson we’ve been concerned with rearranging data. Filtering, cleaning,
and other transformations are another class of important operations.

### Replacing Values
Filling in missing data with the `fillna` method is a special case of more general value
replacement. As you’ve already seen, `map` can be used to modify a subset of values in
an object but `replace` provides a simpler and more flexible way to do so. 

Let’s consider this Series

In [22]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [1]:
# replace the value of -999 with np.nan

In [2]:
# do the same with map function

If you want to replace multiple values at once, you instead pass a list and then the
substitute value

In [3]:
# replace both the values of -999 and -1000 with np.nan

To use a different replacement for each value, pass a list of substitutes, or a mapping dict

In [4]:
# replace both the values of -999 and -1000 with np.nan and 0 respectivly

In [5]:
# replace both the values of -999 and -1000 with np.nan and 0 respectivly

### Renaming Axis Indexes
Like values in a Series, axis labels can be similarly transformed by a function or mapping 
of some form to produce new, differently labeled objects. You can also modify
the axes in-place without creating a new data structure.

In [28]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
                    index=['Ohio', 'Colorado', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

Like a Series, the axis indexes have a map method

In [6]:
# convert the indices to upper case

If you want to create a transformed version of a dataset without modifying the original, a useful method is `rename`

In [7]:
# convert the indices and column names to upper case using rename method

In [8]:
# rename specific index and column

In [9]:
# rename index in-place

### Discretization and Binning
Continuous data is often discretized or otherwise separated into “bins” for analysis.
Suppose you have data about a group of people in a study, and you want to group
them into discrete age buckets

In [42]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

Let’s divide these into bins of 18 to 25, 26 to 35, 36 to 60, and finally 61 and older. To
do so, you have to use `cut`, a function in pandas

In [10]:
# divide the ages to 4 classes using the bins
bins = [18, 25, 35, 60, 100]

The object pandas returns is a special **Categorical object**. The output you see
describes the bins computed by `pandas.cut`. 

You can treat it like an **array of strings** indicating the bin name; 

internally it contains a **categories array** specifying the distinct category names along with a labeling for the ages data in the **codes attribute**:

In [11]:
# print the ages codes

In [12]:
# print the distinct categories

In [13]:
# print the number of occurrances of each category

**Note** that `cats.value_counts()` are the bin counts for the result of `pandas.cut`.
Consistent with mathematical notation for intervals, a **parenthesis** means that the side
is **open**, while the **square bracket** means it is **closed (inclusive)**. 

You can change which side is closed by passing `right=False`:

In [14]:
# categorize the ages with right open intervals

You can also pass your own bin names by passing a list or array to the labels option:

In [15]:
# categorize the ages with the labels below
group_names = ['Youth', 'YoungAdult', 'MiddleAged', 'Senior']

In [16]:
# print the number of occurrances of each category

If you pass an integer number of bins to `cut` instead of explicit bin edges, it will compute equal-length bins based on the minimum and maximum values in the data.

In [50]:
data = np.random.randint(0, 20, 12)
data

array([ 2, 11, 17, 14,  8,  8, 19, 16,  9, 14, 16, 10])

In [17]:
# divide the data to 4 groups

In [18]:
# count the number of values in each group

A closely related function, `qcut`, bins the data based on sample quantiles. 

Depending on the distribution of the data, using `cut` will not usually result in each bin having the
same number of data points. 

Since `qcut` uses sample quantiles instead, by definition you will obtain **roughly equal-size** bins:

In [20]:
data = np.random.randint(0, 100, 1000)  
# Cut into quartiles and count the values

## Independent Practice
using the `coffee-preferences.csv` data set
- show the duplicated rows
- show the names of customers who rated all coffee
- show the names of the coffees that are rated by all customers
- which coffee got the highest rate in average
- replace the missing value by zero
- convert names to upper case
- convert the rate to a percentage