<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Intro to Python: Pandas
Week 2 | Day 2

---

### LEARNING OBJECTIVES

- Read a csv file using pandas
- Viewing data: head, columns, values, describe
- Selection: a single column, slicing by row, by position
- Perform boolean indexing on dataframes
- Inspect data types
- Clean up a column using df.apply()
- Know what situations to use .value_counts() in your code

<a name="Series and DataFrame data types"></a>
## Introduction: Series and DataFrame data types (10 mins)

- Series is a one-dimensional labeled array capable of holding any data type (integers, strings,
floating point numbers, Python objects, etc.). The axis labels are collectively referred to as
the index. The basic method to create a Series is to call:

```Python
s = pd.Series(data, index=index)
```

- Here, data can be many different things:
    - a Python dict
    - an ndarray
    - a scalar value (like 5)

- The passed index is a list of axis labels.



- DataFrame is a 2-dimensional labeled data structure with columns of potentially
different types. You can think of it like a spreadsheet or SQL table, or a dict
of Series objects. It is generally the most commonly used pandas object.

- Like Series, DataFrame accepts many different kinds of input:
    - Dict of 1D ndarrays, lists, dicts, or Series
    - 2-D numpy.ndarray
    - Structured or record ndarray
    - A Series
    - Another DataFrame

- Along with the data, you can optionally pass index (row labels) and columns
(column labels) arguments. If you pass an index and / or columns, you are
guaranteeing the index and / or columns of the resulting DataFrame. Thus, a dict
of Series plus a specific index will discard all data not matching up to the
passed index.

- If axis labels are not passed, they will be constructed from the input data based on common sense rules.

Here is more information on [series and dataframes](http://pandas.pydata.org/pandas-docs/stable/dsintro.html).

**Check:** What are some differences between Series and DataFrame?

<a name="pd.Series"></a>
## Demo / Guided Practice: pd.Series (25 mins)

Let's create a series and see what `pandas.Series` can do.

In [1]:
# create a series using a numpy random number generator


Now we have a series of 7 random numbers. Let's try out the same things we did with
a data frame back in W2 L1.1. First, let's look at the series head.

In [2]:
# head of series

<details>
    <summary>Solution</summary>
    <code>s.head()</code>
</details>

In [3]:
# tail of series

In [4]:
# summary stats

In [5]:
# select by location c to g

In [6]:
# select just b

In [8]:
# slice for rows 1-3

**Check:** How would you select just 'd'?

<a name="Boolean indexing"></a>
## Demo / Guided Practice: Boolean indexing (25 mins)

Another common operation is the use of boolean vectors to filter the data. The operators
are: | for or, & for and, and ~ for not. These must be grouped by using parentheses.

Let's create another series and use pandas to do some Boolean indexing.

In [11]:
# create another series ranging from -3 to 3

s = pd.Series(range(-3, 4))
s

0   -3
1   -2
2   -1
3    0
4    1
5    2
6    3
dtype: int64

In [9]:
# find the values that are > 0.

In [10]:
# find the values that are < -1 or > 0.5

In [11]:
# find the values that are not < 0.

Here is some further information on [boolean indexing](http://pandas.pydata.org/pandas-docs/stable/indexing.html#slicing-ranges).

**Check:** How would you find all the numbers that are < 2?

In [12]:
# find the values that are < 2

**Check:** This looks familiar...didn't we already learn how to read in csv files?
Yes, but that was using Python without any libraries or packages. It took 5 lines of
Python, but using Pandas it only takes one line. Nice!

<a name="Viewing data: head/tail, describe"></a>
## Demo / Guided Practice: Viewing data: head/tail, describe (25 mins)

In [13]:
# read in csv file and create a pandas dataframe

In [14]:
# head of dataset

In [15]:
# tail of dataset

**Check:** What can looking at the head and tail of a dataset tell us?

In [16]:
# summary stats

This gives us: count, mean, std, min, 25%, 50%, 75%, and max. Awesome!

**Check:** What was the cautionary tale about relying too heavily on summary stats again?


<a name="Selection: a single column, slicing by row, by position"></a>
## Demo / Guided Practice: Selection: a single column, slicing by row, by position (25 mins)

In [17]:
# select a single column

**Check:** How would you select the 'Quantity' and 'Price' columns separately?

In [18]:
# slice certain rows

**Check:** How would you slice for rows 9 to 14?

In [31]:
# slice for rows 9-14

##### Now, let's try selecting by position.

In [19]:
# First, let's slice some rows.

**Check:** How would you slice for rows 9 to 14?

In [20]:
# slice some columns

**Check:** How would you slice for the 'Manager' and 'Product' columns?

In [21]:
# slice for the 'manager' column

In [22]:
# select for an explicit value only

<a name="introduction"></a>
## Introduction: Topic (5 mins)

Since we're starting to get pretty comfortable with using pandas to do EDA, let's add a
couple more tools to our toolbox.

The main data types stored in pandas objects are float, int, bool, datetime64, datetime64, timedelta,
category, and object.

`df.apply()` will apply a function along any axis of the DataFrame. We'll see it in action below.

`pandas.Series.value_counts` returns Series containing counts of unique values. The resulting
Series will be in descending order so that the first element is the most frequently-occurring
element. Excludes NA values.

- Examples of [dtypes](http://pandas.pydata.org/pandas-docs/stable/pandas.pdf).
- Examples of [value_counts](http://nullege.com/codes/search/pandas.Series.value_counts).

<a name="Inspect data types "></a>
## Demo /Guided Practice: Inspect data types  (20 mins)

Let's create a small dictionary with different data types in it.

In [35]:
import pandas as pd
import numpy as np
dft = pd.DataFrame(dict(A = np.random.rand(3),
                        B = 1,
                        C = 'foo',
                        D = pd.Timestamp('20010102'),
                        E = pd.Series([1.0]*3).astype('float32'),
                        F = False,
                        G = pd.Series([1]*3,dtype='int8')))
dft

          A  B    C          D    E      F  G
0  0.098140  1  foo 2001-01-02  1.0  False  1
1  0.429981  1  foo 2001-01-02  1.0  False  1
2  0.803136  1  foo 2001-01-02  1.0  False  1

There is a really easy way to see what kind of dtypes are in each column.

If a pandas object contains data multiple dtypes IN A SINGLE COLUMN, the dtype of the
column will be chosen to accommodate all of the data types (object is the most general).

In [23]:
# these ints are coerced to floats
pd.Series([1, 2, 3, 4, 5, 6.])

In [24]:
# string data forces an ``object`` dtype
pd.Series([1, 2, 3, 6., 'foo'])

The method `DataFrame.dtypes.value_counts()` will return the number of columns of each type in a DataFrame:

You can do a lot more with dtypes that you can check out [here](http://pandas.pydata.org/pandas-docs/stable/pandas.pdf).

**Check:** Why do you think it might be important to know what kind of dtypes you're working with?

<a name=" df.apply()"></a>
## Demo /Guided Practice:  df.apply() (20 mins)

Let's create a small data frame.

In [51]:
df = pd.DataFrame(np.random.randint(0 , 10, (5, 4)), columns=['a', 'b', 'c', 'd'])
df

   a  b  c  d
0  0  0  3  4
1  9  7  4  7
2  7  3  0  6
3  7  6  6  7
4  6  4  2  1

Use `df.apply` to find the square root of all the values.

Find the mean of all of the columns.

Find the mean of all of the rows.

[df.apply](https://gist.github.com/why-not/4582705)
[df.apply](http://chrisalbon.com/python/pandas_apply_operations_to_dataframes.html)

**Check:** How would find the std of the columns and rows?

<a name=".value_counts()"></a>
## Demo /Guided Practice: .value_counts() (20 mins)

Let's create a random array with 50 numbers, ranging from 0 to 7.

In [57]:
data = np.random.randint(0, 7, size = 50)
data

array([4, 0, 5, 2, 3, 5, 2, 1, 1, 4, 2, 0, 6, 6, 6, 1, 4, 3, 4, 0, 3, 2,
       3, 2, 0, 5, 3, 5, 3, 6, 4, 2, 1, 0, 0, 2, 2, 5, 2, 4, 0, 6, 0, 0,
       6, 3, 5, 4, 6, 1])

Convert the array into a series.

How many of each number is there in the series? Enter `value_counts()`:

<a name="ind-practice"></a>
## Independent Practice: Topic (20 minutes)
- Use the [sales.csv data set](./assets/datasets/sales_info.csv) - we've seen this a few times in previous lessons!
- Inspect the data types
- You've found out that all your values in column 1 are off by 1, add 1 to column 1 of the dataset
- Use .value_counts to count the values of 1 column of the dataset

**Bonus**
- Add 3 to column 2
- Use .value_counts for each column of the dataset