# Lists, Tuples & Dicts

In [1]:
marks = [23, 25, 17, 13]

In [2]:
marks[0]

23

In [3]:
marks[3]

13

In [4]:
marks[-1]

13

In [5]:
marks.append(19)
marks

[23, 25, 17, 13, 19]

In [6]:
marks.insert(0, 21)
marks

[21, 23, 25, 17, 13, 19]

In [7]:
marks.remove(17)
marks

[21, 23, 25, 13, 19]

In [8]:
marks.pop(3)
marks

[21, 23, 25, 19]

In [9]:
marks.extend([18, 25, 25])
marks

[21, 23, 25, 19, 18, 25, 25]

In [10]:
marks[-2] = 15
marks

[21, 23, 25, 19, 18, 15, 25]

In [11]:
del marks[-2]
marks

[21, 23, 25, 19, 18, 25]

In [12]:
marks.sort()
marks

[18, 19, 21, 23, 25, 25]

In [13]:
marks.sort(reverse=True)
marks

[25, 25, 23, 21, 19, 18]

In [14]:
names = ["Wael", "Zaid", "Obaid", "Ahmed", "Ali"]
names.sort()
names

['Ahmed', 'Ali', 'Obaid', 'Wael', 'Zaid']

In [16]:
names.sort(key=len, reverse=True)
names

['Ahmed', 'Obaid', 'Wael', 'Zaid', 'Ali']

In [18]:
marks[0:3]

[25, 25, 23]

In [19]:
marks[:3]

[25, 25, 23]

In [20]:
marks[-3:]

[21, 19, 18]

## Tuple

In [21]:
marks = (23, 15, 18) # immutable
marks

(23, 15, 18)

In [22]:
marks[0]

23

In [23]:
marks[-1]

18

In [24]:
marks[0] = 25
marks

TypeError: 'tuple' object does not support item assignment

In [25]:
marks.append(21)
marks

AttributeError: 'tuple' object has no attribute 'append'

## Dict

In [31]:
countries = {
    "sa": "Saudi Arabia",
    "ae": "Arab Emirates",
    "eg": "Egypt"
}
countries

{'sa': 'Saudi Arabia', 'ae': 'Arab Emirates', 'eg': 'Egypt'}

In [32]:
# countries["ae"]
countries.get("ae")

'Arab Emirates'

In [33]:
# countries["eg"] = "Republic of Egypt"
countries.update({"eg": "Republic of Egypt"})
countries

{'sa': 'Saudi Arabia', 'ae': 'Arab Emirates', 'eg': 'Republic of Egypt'}

In [34]:
# countries["pl"] = "Palstine"
countries.update({"pl": "Palstine"})
countries

{'sa': 'Saudi Arabia',
 'ae': 'Arab Emirates',
 'eg': 'Republic of Egypt',
 'pl': 'Palstine'}

In [35]:
# del countries["ae"]
countries.pop("ae")
countries

{'sa': 'Saudi Arabia', 'eg': 'Republic of Egypt', 'pl': 'Palstine'}

In [36]:
len(countries)

3

In [37]:
"ae" in countries

False

In [40]:
list(countries.keys())

['sa', 'eg', 'pl']

In [41]:
list(countries.values())

['Saudi Arabia', 'Republic of Egypt', 'Palstine']

In [44]:
temp = list(countries.items())
temp

[('sa', 'Saudi Arabia'), ('eg', 'Republic of Egypt'), ('pl', 'Palstine')]

In [46]:
temp[0][1]

'Saudi Arabia'

In [47]:
temp[2][1]

'Palstine'

In [51]:
std_table = {
    "name": ["Ahmed", "Ali", "Wael", "Yasser"],
    "Q1": [9, 7, 8, 5],
    "Q2": [5, 8, 7, 7]
}

std_table

{'name': ['Ahmed', 'Ali', 'Wael', 'Yasser'],
 'Q1': [9, 7, 8, 5],
 'Q2': [5, 8, 7, 7]}

In [52]:
std_table["name"][0]

Ahmed

In [53]:
std_table["Q2"][3]

7

In [58]:
emps = [
    {"name": "Ahmed", "salary": 7000, "job": "Sales"},
    {"name": "Wael", "salary": 5000, "job": "Marketing"},
    {"name": "Ali", "salary": 15000, "job": "Data Analyst"},
    {"name": "Yousef", "salary": 10000, "job": "IT"},
    {"name": "Mohammed", "salary": 8000, "job": "Admin"},
]

emps

[{'name': 'Ahmed', 'salary': 7000, 'job': 'Sales'},
 {'name': 'Wael', 'salary': 5000, 'job': 'Marketing'},
 {'name': 'Ali', 'salary': 15000, 'job': 'Data Analyst'},
 {'name': 'Yousef', 'salary': 10000, 'job': 'IT'},
 {'name': 'Mohammed', 'salary': 8000, 'job': 'Admin'}]

In [55]:
emps[1]["salary"]

5000

In [59]:
def condition(e):
    return e["salary"] >= 8000

list(filter(condition, emps))

[{'name': 'Ali', 'salary': 15000, 'job': 'Data Analyst'},
 {'name': 'Yousef', 'salary': 10000, 'job': 'IT'},
 {'name': 'Mohammed', 'salary': 8000, 'job': 'Admin'}]

In [60]:
list(filter(lambda e: e["salary"] >= 8000, emps))

[{'name': 'Ali', 'salary': 15000, 'job': 'Data Analyst'},
 {'name': 'Yousef', 'salary': 10000, 'job': 'IT'},
 {'name': 'Mohammed', 'salary': 8000, 'job': 'Admin'}]

In [63]:
emps.sort(key=lambda e: e["salary"], reverse=True)
emps

[{'name': 'Ali', 'salary': 15000, 'job': 'Data Analyst'},
 {'name': 'Yousef', 'salary': 10000, 'job': 'IT'},
 {'name': 'Mohammed', 'salary': 8000, 'job': 'Admin'},
 {'name': 'Ahmed', 'salary': 7000, 'job': 'Sales'},
 {'name': 'Wael', 'salary': 5000, 'job': 'Marketing'}]