# Lists, Tuples & Dicts

In [28]:
marks = [23, 25, 17, 13]

In [29]:
marks[0]

23

In [30]:
marks[3]

13

In [31]:
marks[-1]

13

In [32]:
marks.append(19)
marks

[23, 25, 17, 13, 19]

In [33]:
marks.insert(0, 21)
marks

[21, 23, 25, 17, 13, 19]

In [34]:
marks.remove(17)
marks

[21, 23, 25, 13, 19]

In [35]:
marks.pop(3)
marks

[21, 23, 25, 19]

In [36]:
marks.extend([18, 25, 25])
marks

[21, 23, 25, 19, 18, 25, 25]

In [37]:
marks[-2] = 15
marks

[21, 23, 25, 19, 18, 15, 25]

In [38]:
del marks[-2]
marks

[21, 23, 25, 19, 18, 25]

In [39]:
marks.sort()
marks

[18, 19, 21, 23, 25, 25]

In [40]:
marks.sort(reverse=True)
marks

[25, 25, 23, 21, 19, 18]

In [41]:
names = ["Wael", "Zaid", "Obaid", "Ahmed", "Ali"]
names.sort()
names

['Ahmed', 'Ali', 'Obaid', 'Wael', 'Zaid']

In [42]:
names.sort(key=len, reverse=True)
names

['Ahmed', 'Obaid', 'Wael', 'Zaid', 'Ali']

In [43]:
marks[0:3]

[25, 25, 23]

In [44]:
marks[:3]

[25, 25, 23]

In [45]:
marks[-3:]

[21, 19, 18]

## Tuple

In [46]:
marks = (23, 15, 18) # immutable
marks

(23, 15, 18)

In [47]:
marks[0]

23

In [48]:
marks[-1]

18

In [49]:
# marks[0] = 25
# marks

In [50]:
# marks.append(21)
# marks

## Dict

In [51]:
countries = {
    "sa": "Saudi Arabia",
    "ae": "Arab Emirates",
    "eg": "Egypt"
}
countries

{'sa': 'Saudi Arabia', 'ae': 'Arab Emirates', 'eg': 'Egypt'}

In [52]:
# countries["ae"]
countries.get("ae")

'Arab Emirates'

In [53]:
# countries["eg"] = "Republic of Egypt"
countries.update({"eg": "Republic of Egypt"})
countries

{'sa': 'Saudi Arabia', 'ae': 'Arab Emirates', 'eg': 'Republic of Egypt'}

In [54]:
# countries["pl"] = "Palstine"
countries.update({"pl": "Palstine"})
countries

{'sa': 'Saudi Arabia',
 'ae': 'Arab Emirates',
 'eg': 'Republic of Egypt',
 'pl': 'Palstine'}

In [55]:
# del countries["ae"]
countries.pop("ae")
countries

{'sa': 'Saudi Arabia', 'eg': 'Republic of Egypt', 'pl': 'Palstine'}

In [56]:
len(countries)

3

In [57]:
"ae" in countries

False

In [58]:
list(countries.keys())

['sa', 'eg', 'pl']

In [59]:
list(countries.values())

['Saudi Arabia', 'Republic of Egypt', 'Palstine']

In [60]:
temp = list(countries.items())
temp

[('sa', 'Saudi Arabia'), ('eg', 'Republic of Egypt'), ('pl', 'Palstine')]

In [61]:
temp[0][1]

'Saudi Arabia'

In [62]:
temp[2][1]

'Palstine'

In [63]:
std_table = {
    "name": ["Ahmed", "Ali", "Wael", "Yasser"],
    "Q1": [9, 7, 8, 5],
    "Q2": [5, 8, 7, 7]
}

std_table

{'name': ['Ahmed', 'Ali', 'Wael', 'Yasser'],
 'Q1': [9, 7, 8, 5],
 'Q2': [5, 8, 7, 7]}

In [64]:
std_table["name"][0]

'Ahmed'

In [65]:
std_table["Q2"][3]

7

In [66]:
emps = [
    {"name": "Ahmed", "salary": 7000, "job": "Sales"},
    {"name": "Wael", "salary": 5000, "job": "Marketing"},
    {"name": "Ali", "salary": 15000, "job": "Data Analyst"},
    {"name": "Yousef", "salary": 10000, "job": "IT"},
    {"name": "Mohammed", "salary": 8000, "job": "Admin"},
]

emps

[{'name': 'Ahmed', 'salary': 7000, 'job': 'Sales'},
 {'name': 'Wael', 'salary': 5000, 'job': 'Marketing'},
 {'name': 'Ali', 'salary': 15000, 'job': 'Data Analyst'},
 {'name': 'Yousef', 'salary': 10000, 'job': 'IT'},
 {'name': 'Mohammed', 'salary': 8000, 'job': 'Admin'}]

In [67]:
emps[1]["salary"]

5000

In [68]:
def condition(e):
    return e["salary"] >= 8000

list(filter(condition, emps))

[{'name': 'Ali', 'salary': 15000, 'job': 'Data Analyst'},
 {'name': 'Yousef', 'salary': 10000, 'job': 'IT'},
 {'name': 'Mohammed', 'salary': 8000, 'job': 'Admin'}]

In [69]:
list(filter(lambda e: e["salary"] >= 8000, emps))

[{'name': 'Ali', 'salary': 15000, 'job': 'Data Analyst'},
 {'name': 'Yousef', 'salary': 10000, 'job': 'IT'},
 {'name': 'Mohammed', 'salary': 8000, 'job': 'Admin'}]

In [70]:
emps.sort(key=lambda e: e["salary"], reverse=True)
emps

[{'name': 'Ali', 'salary': 15000, 'job': 'Data Analyst'},
 {'name': 'Yousef', 'salary': 10000, 'job': 'IT'},
 {'name': 'Mohammed', 'salary': 8000, 'job': 'Admin'},
 {'name': 'Ahmed', 'salary': 7000, 'job': 'Sales'},
 {'name': 'Wael', 'salary': 5000, 'job': 'Marketing'}]

# Loops

In [71]:

for i in range(5):
    print(i,"- Welcome to Python")

0 - Welcome to Python
1 - Welcome to Python
2 - Welcome to Python
3 - Welcome to Python
4 - Welcome to Python

In [72]:

for i in range(1, 6):
    print(i,"- Welcome to Python")

1 - Welcome to Python
2 - Welcome to Python
3 - Welcome to Python
4 - Welcome to Python
5 - Welcome to Python

In [73]:

for i in range(1, 11, 2):
    print(i,"- Welcome to Python")

1 - Welcome to Python
3 - Welcome to Python
5 - Welcome to Python
7 - Welcome to Python
9 - Welcome to Python

In [75]:
names

['Ahmed', 'Obaid', 'Wael', 'Zaid', 'Ali']

In [76]:
for name in names:
    print(name)

Ahmed
Obaid
Wael
Zaid
Ali

In [77]:
text = "Welcome to Python"
for c in text:
    print(c)

W
e
l
c
o
m
e

t
o

P
y
t
h
o
n

In [78]:
countries

{'sa': 'Saudi Arabia', 'eg': 'Republic of Egypt', 'pl': 'Palstine'}

In [79]:
for k in countries:
    print(k)

sa
eg
pl

In [80]:
for k in countries.values():
    print(k)

Saudi Arabia
Republic of Egypt
Palstine

In [81]:
for k, v in countries.items():
    print(k, "=>", v)

sa => Saudi Arabia
eg => Republic of Egypt
pl => Palstine

In [82]:
for k in countries.items():
    print(k)

('sa', 'Saudi Arabia')
('eg', 'Republic of Egypt')
('pl', 'Palstine')

In [83]:
marks

(23, 15, 18)

In [84]:
percentages = []
for m in marks:
    percentages.append(m / 25 * 100)
    
percentages

[92.0, 60.0, 72.0]

In [87]:
x = 1
while x <= 10:
    print(x)
    x += 1
    
print("-- End --")

1
2
3
4
5
6
7
8
9
10
-- End --

In [93]:
from random import randint

x = randint(0, 10)
while x != 0:
    print(x)
    x = randint(0, 10)

2
4
7
4
9
3
2
1
8
6
10
9

# Comprehension

In [94]:
names

['Ahmed', 'Obaid', 'Wael', 'Zaid', 'Ali']

In [95]:
new_names = []
for n in names:
    new_names.append(n.upper())

new_names

['AHMED', 'OBAID', 'WAEL', 'ZAID', 'ALI']

In [96]:
new_names = [n.upper() for n in names]
new_names

['AHMED', 'OBAID', 'WAEL', 'ZAID', 'ALI']

In [97]:
marks = [25, 23, 16, 21, 18]
PCTs = [m/25*100 for m in marks]
PCTs

[100.0, 92.0, 64.0, 84.0, 72.0]

In [98]:
name_len = [len(n) for n in names]
name_len

[5, 5, 4, 4, 3]

In [99]:
names

['Ahmed', 'Obaid', 'Wael', 'Zaid', 'Ali']

In [100]:
my_dict = {}
for n in names:
    my_dict[n] = len(n)
    
my_dict

{'Ahmed': 5, 'Obaid': 5, 'Wael': 4, 'Zaid': 4, 'Ali': 3}

In [101]:
my_dict = {n: len(n) for n in names}
my_dict

{'Ahmed': 5, 'Obaid': 5, 'Wael': 4, 'Zaid': 4, 'Ali': 3}

In [102]:
names = ['Ahmed', 'OBAID', 'Wael', 'ZAID', 'Ali']
my_dict = {n: n.isupper() for n in names}
my_dict

{'Ahmed': False, 'OBAID': True, 'Wael': False, 'ZAID': True, 'Ali': False}

In [103]:
emails = [
    "omarincs@gmail.com",
    "ahmed@gmail.com",
    "wael@gmail.com",
    "yasser@hotmail.com"
]
emails

['omarincs@gmail.com',
 'ahmed@gmail.com',
 'wael@gmail.com',
 'yasser@hotmail.com']

In [104]:
answer = {e.index("@"): e for e in emails}
answer

{8: 'omarincs@gmail.com',
 5: 'ahmed@gmail.com',
 4: 'wael@gmail.com',
 6: 'yasser@hotmail.com'}

In [105]:
answer = {e[:e.index("@")]: e for e in emails}
answer

{'omarincs': 'omarincs@gmail.com',
 'ahmed': 'ahmed@gmail.com',
 'wael': 'wael@gmail.com',
 'yasser': 'yasser@hotmail.com'}