# Data Cleaning and Preparation

In [1]:
import numpy as np
import pandas as pd

## Data Transformation (continue)
So far in this lesson we’ve been concerned with rearranging data. Filtering, cleaning,
and other transformations are another class of important operations.

### Detecting and Filtering Outliers
Filtering or transforming outliers is largely a matter of applying array operations.
Consider a DataFrame with some normally distributed data

In [2]:
data = pd.DataFrame(np.random.randn(1000, 4))
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.004069    -0.023403     0.003690     0.003191
std       1.032953     0.997218     0.990424     0.985918
min      -3.491779    -3.363313    -2.707967    -3.493270
25%      -0.713077    -0.715384    -0.656887    -0.635207
50%      -0.018627    -0.042585    -0.016130     0.019424
75%       0.674922     0.686002     0.691359     0.686658
max       3.176055     3.109727     3.280510     2.988827

In [3]:
# find values in one of the columns exceeding 3 in absolute value

311    3.018262
422    3.280510
Name: 2, dtype: float64

In [12]:
# select all rows having a value exceeding 3 or –3

In [13]:
# set outliers to 3 or -3 depending on its sign

### Computing Indicator/Dummy Variables
Another type of transformation for statistical modeling or machine learning applica‐
tions is converting a categorical variable into a “dummy” or “indicator” matrix.

column in a DataFrame has k distinct values, you would derive a matrix or Data‐
Frame with k columns containing all 1s and 0s.

pandas has a `get_dummies` function for doing this

In [14]:
df = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
                   'data1': range(6)})
df

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

In [15]:
# create dummy variables for column 'key'

In [18]:
# create dummy variables for column 'key'  then add the columns to a variable

In [19]:
# join the dummies to the Data-Frame

In [20]:
# read the dataset 'movies.dat' and display the first 10 rows of it

mnames = ['movie_id', 'title', 'genres']
movies = pd.read_csv('movies.dat', sep='::', engine="python",
                       header=None, names=mnames)
movies[:10]

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller
6         7                      Sabrina (1995)                Comedy|Romance
7         8                 Tom and Huck (1995)          Adventure|Children's
8         9                 Sudden Death (1995)                        Action
9        10                    GoldenEye (1995)     Action|Adventure|Thriller

Adding dummy variables for each genre requires a little bit of wrangling.

In [30]:
# make a list 'genres' contains all distict genres

In [31]:
# create a DataFrame 'dummies' of size (#movies, #genres) and fill it with zeros

In [32]:
# get the genres from the first row of 'movies' DataFrame, then get their indices in the 'dummies' DataFrame
# hint: use 'get_indexer' method

In [33]:
# for each value of 'genre' column in 'movies' DataFrame, set the corresponding columns in dummies to 1

In [34]:
# join the DataFrames 'movies' and 'dummies', then display the first row

## String Manipulation
Python has long been a popular raw data manipulation language in part due to its
ease of use for string and text processing. Most text operations are made simple with
the string object’s **built-in methods**. 

For more complex pattern matching and text manipulations, **regular expressions** may be needed. 

**pandas** adds to the mix by enabling you to apply string and regular expressions concisely on whole arrays of data,
additionally handling the annoyance of missing data.

### String Object Methods

In [35]:
# convert the string to a list using the ',' as separator
val = 'a,b,  guido'

In [36]:
# convert the string to a list using the ',' as separator and remove the extra spaces

In [40]:
# concatenate the parts back with separator '::'
first, second, third = pieces
first + '::' + second + '::' + third

'a::b::guido'

In [37]:
# concatenate the parts back with separator '::'

**check**: try the `in` operator and str methods `index`, `find`, `count` and `replace`

![](assets/built-in-str-methods.png)

### Regular Expressions
Regular expressions provide a flexible way to search or match (often more complex)
string patterns in text. A single expression, commonly called a regex, is a string
formed according to the regular expression language.

The `re` module functions fall into three categories: **pattern matching**, **substitution**,
and **splitting**.

In [38]:
import re
text = "foo    bar\t baz  \tqux"

suppose we wanted to split a string with a variable number of whitespace characters
(tabs, spaces, and newlines). The regex describing one or more whitespace characters
is \s+:

In [39]:
# split the string depending on the whitespaces

In [40]:
# find all the string depending on the whitespaces

**Note:** Creating a regex object with `re.compile` is highly recommended if you intend to
apply the same expression to many strings; doing so will save CPU cycles

In [41]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'

# re.IGNORECASE makes the regex case-insensitive
regex = re.compile(pattern, flags=re.IGNORECASE)

In [42]:
# get a list of all emails in the text

Relatedly, `sub` will return a new string with occurrences of the pattern replaced by the
a new string:

Suppose you wanted to find email addresses and simultaneously segment each
address into its three components: *username*, *domain name*, and *domain suffix*.

In [53]:
pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'
regex = re.compile(pattern, flags=re.IGNORECASE)

In [44]:
# find all email in the text

In [45]:
# prefix each segment of the email with a suitable label

![](assets/re-methods.png)

### Vectorized String Functions in pandas

In [46]:
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com',
        'Rob': 'rob@gmail.com', 'Wes': np.nan}
data = pd.Series(data)
data

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

Series has array-oriented methods for string operations that skip NA values. These are accessed through Series’s **str attribute**

In [47]:
# check if the email is gmail

Regular expressions can be used, too, along with any re options like IGNORECASE

In [49]:
# using the pattern declared earlier, find all parts of each email

In [50]:
# use the match method to check if the field matches an email or not

![](assets/series-str-methods.png)

# Data Aggregation and Group Operations

## GroupBy Mechanics

the term split-apply-combine is used for describing group operations. 

- In the first stage of the process, data contained in a pandas object, whether a Series, Data‐Frame, or otherwise, is **split** into groups based on one or more keys that you provide.
- Once this is done, a function is **applied** to each group, producing a new value. 
- Finally, the results of all those function applications are **combined** into a result object. 

The form of the resulting object will usually depend on what’s being done to the data.

![](assets/group-aggregation.png)

In [51]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randint(0, 10, 5),
                   'data2' : np.random.randint(0, 10, 5)})
df

  key1 key2  data1  data2
0    a  one      1      5
1    a  two      8      9
2    b  one      1      2
3    b  two      0      2
4    a  one      3      6

In [53]:
# group data of column 'data1' by 'key1' then print the groups

In [54]:
# calculate the mean in each group

In [56]:
# group data of column 'data1' by 'key1' and 'key2' then print the groups

In [58]:
# calculate the mean in each group

In [59]:
# unstack the result Series

In [60]:
# try some selection on the result DataFrame

### Iterating Over Groups
The GroupBy object supports iteration, generating a sequence of **2-tuples** containing
the **group name** along with the **chunk of data**.

In [61]:
# group data of DataFrame 'data' by 'key1' then print each group name and data

In [62]:
# group data of DataFrame 'data' by 'key1' and 'key2' then print each group name and data

In [65]:
# group data of DataFrame 'data' by 'key1' then convert it to a dictionary of DataFrames

In [67]:
# group the columns by its datatypes, then print the groups

In [69]:
# loop through the groups and print it

### Selecting a Column or Subset of Columns
Indexing a GroupBy object created from a DataFrame with a column name or array
of column names has the effect of column subsetting for aggregation. This means
that:
```python
df.groupby('key1')['data1']
df.groupby('key1')[['data2']]
```
are syntactic sugar for:
```python
df['data1'].groupby(df['key1'])
df[['data2']].groupby(df['key1'])
```

In [70]:
# group data of DataFrame 'data' by 'key1' then calculate the mean of column 'data2'

In [73]:
# How to get result as DataFrame GroupBy or Series GroupBy?

### Grouping with Dicts and Series

In [74]:
people = pd.DataFrame(np.random.randint(0, 10, (5,5)),
                      columns=['a', 'b', 'c', 'd', 'e'],
                      index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])
people.iloc[2:3, [1, 2]] = np.nan # Add a few NA values
people

        a    b    c  d  e
Joe     8  3.0  0.0  3  6
Steve   3  3.0  2.0  4  7
Wes     9  NaN  NaN  6  4
Jim     5  8.0  4.0  4  7
Travis  8  8.0  2.0  5  2

In [75]:
mapping = {'Joe': 'red', 'Steve': 'red', 'Wes': 'blue',
           'Jim': 'blue', 'Travis': 'red', 'Elon' : 'orange'}

In [77]:
# group and sum the scores of teams red and blue

In [78]:
# convert the dict to a Series, then group and count the scores of teams red and blue

### Grouping with Functions

## independent Practice:
- read the dataset `tips.csv`
- create a new column 'tip_pct', which is tip / total_bill
- replace the short-day name with the full-day name and convert it to upper-case
- calculate the average tip percent for smokers and non-smokers
- calculate the max and average tip percent for each time
- calculate the average tip percent for each day and time
- create dummy variables for the day and time columns