In [2]:
import time
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("chicago.csv")
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0

In [4]:
df["Start Time"] = pd.to_datetime(df["Start Time"])
df.dtypes

Unnamed: 0                int64
Start Time       datetime64[ns]
End Time                 object
Trip Duration             int64
Start Station            object
End Station              object
User Type                object
Gender                   object
Birth Year              float64
dtype: object

In [16]:
df[df["Start Time"].dt.month == 6]

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
5,1473887,2017-06-26 09:01:20,2017-06-26 09:11:06,586,Clinton St & Washington Blvd,Canal St & Taylor St,Subscriber,Male,1990.0
18,1469705,2017-06-25 21:26:30,2017-06-25 21:33:44,434,State St & Pearson St,Clark St & Schiller St,Subscriber,Male,1987.0
21,1420915,2017-06-23 12:21:01,2017-06-23 12:32:54,713,Rush St & Cedar St,Halsted St & Willow St,Subscriber,Male,1985.0
23,1413814,2017-06-22 19:14:37,2017-06-22 19:29:54,917,Bissell St & Armitage Ave,Orleans St & Chestnut St (NEXT Apts),Subscriber,Female,1989.0
...,...,...,...,...,...,...,...,...,...
299978,1242195,2017-06-12 08:35:11,2017-06-12 08:44:20,549,St. Clair St & Erie St,Michigan Ave & Lake St,Subscriber,Female,1971.0
299981,1212375,2017-06-10 14:52:58,2017-06-10 15:29:52,2214,Franklin St & Jackson Blvd,Lake Shore Dr & North Blvd,Customer,NaN,NaN
299986,1464340,2017-06-25 16:17:53,2017-06-25 16:51:21,2008,Shedd Aquarium,LaSalle St & Washington St,Customer,NaN,NaN
299990,1444489,2017-06-24 15:28:12,2017-06-24 16:08:11,2399,Rush St & Cedar St,Pine Grove Ave & Waveland Ave,Subscriber,Male,1989.0
299992,1327248,2017-06-17 16:44:16,2017-06-17 16:50:57,401,Sheffield Ave & Willow St,Halsted St & Dickens Ave,Subscriber,Male,1955.0

In [19]:
df["Start Time"].dt.month.mode().empty

False

In [17]:
df.loc[df["Start Time"].dt.month == 6, "Start Time"].dt.month.mode()

0    6
dtype: int64

In [31]:
s, e = df[["Start Station", "End Station"]].mode().values[0]

In [37]:
s, e = df[["Start Station", "End Station"]].mode().values[0]

In [38]:
s

'Streeter Dr & Grand Ave'

In [42]:
("from " + df["Start Station"] + " to " + df["End Station"]).mode()

0    from Lake Shore Dr & Monroe St to Streeter Dr ...
dtype: object

Subscriber    238889
Customer       61110
Dependent          1
Name: User Type, dtype: int64

In [47]:
for cus_type in zip(df["User Type"].value_counts().index, df["User Type"].value_counts()):
    print(cus_type)

('Subscriber', 238889)
('Customer', 61110)
('Dependent', 1)