# US Baby Names 1880â€“2010

## Objectives
- Visualize the proportion of babies given a particular name (your own, or another name) over time

In [20]:
# import libraries

In [21]:
# load data of the names of each year from the folder 'babynames'

In [22]:
# calculate total births for each sex in each year (using pivote table)

In [23]:
# calculate total births for each sex in each year (using groupby)

![](births-by-sex-and-year.png)

In [24]:
# draw a simmilar chart using seaborn library

In [25]:
# draw a simmilar chart using pandas DataFRame's 'plot' method

In [26]:
# calculate the propotion of the name births 
# to the total births of the same sex in the year

In [27]:
# verify that the sum is 1 for each group

In [28]:
# trim each group to the top 1000 names

In [29]:
# separate males and females in two different DataFrames

In [30]:
# calculate total births for each name in each year

In [31]:
# choose any 4 names to show their total births
# example: ('John', 'Harry', 'Mary', 'Marilyn')

![](names-births-per-year.png)

In [32]:
# draw a simmilar chart using 'seaborn' library

In [33]:
# draw same data using pandas DataFrame's 'plot' method

In [34]:
# calculate total prop for each sex in each year

![](top1000-prop-by-year-and-sex.png)

In [35]:
# draw a simmilar chart using pandas DataFrame's 'plot' method

#### another interesting metric is the number of distinct names that represent 50% of the names

In [36]:
# calculate how many distinct male names that represent 50% of the names in 2010

In [37]:
# calculate how many distinct male names that represent 50% of the names in 1900

In [38]:
# apply the same for each year and sex

![](number-of-popular-names-in-top-50-pct.png)

In [39]:
# draw a simmilar chart using pandas DataFrame's 'plot' method

## Independent Practice 
- load the dataset of 'movieslens'
- think of some interesting question
- draw appropriate charts to answer them